<a href="https://colab.research.google.com/github/shantayya/Python-Projects/blob/main/30Days_for_Pythpon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# select lines and press ctrl + / for multiple line comments 
# Day1 excercise
# Print your age to the console.
# Calculate and print the number of days, weeks, and months in 27 years. Don’t worry about leap years!
# Calculate and print the area of a circle with a radius of 5 units. You can be as accurate as you like with the value of pi.

In [ ]:
print(30)

30

In [ ]:
print('Days:'+ str(27 * 365))
print('Weaks:'+ str(27 * 52))
print('Months:'+ str(27 * 12))

Days:9855
Weaks:1404
Months:324

In [ ]:
def area(rad):
  pi = 3.14
  area = pi * rad**2
  print(f"Area: {area}")

In [ ]:
area(5)

Area: 78.5

In [ ]:
# QRCode generation

In [ ]:
pip install qrcode[pip]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting qrcode[pip]
  Downloading qrcode-7.3.1.tar.gz (43 kB)
     |████████████████████████████████| 43 kB 2.3 MB/s
WARNING: qrcode 7.3.1 does not provide the extra 'pip'
Building wheels for collected packages: qrcode
  Building wheel for qrcode (setup.py) ... done
  Created wheel for qrcode: filename=qrcode-7.3.1-py3-none-any.whl size=40402 sha256=7776182181a1f3c9e7f98347025342f7e4c90c0efb5c0775e19fd4b03d5bf881
  Stored in directory: /root/.cache/pip/wheels/93/d7/39/a4111be2cfb8e679938aa671a37888b6afb1f9e7d748e94492
Successfully built qrcode
Installing collected packages: qrcode
Successfully installed qrcode-7.3.1

In [ ]:
import qrcode as qr
from PIL import Image
img = qr.make("mh12q9820@icici")
img.save("iciciqr.png")
qrc = Image.open(r"/content/iciciqr.png")
qrc.show()

In [ ]:
pwd

'/content'

In [ ]:
ls -lrt

total 8
drwxr-xr-x 1 root root 4096 Aug 15 13:44 sample_data/
-rw-r--r-- 1 root root  557 Aug 26 06:01 iciciqr.png

In [ ]:
img = Image.open('/content/iciciqr.png')
img.show()

In [ ]:
# Day2 
# Ask the user for their name and age, assign theses values to two variables, and then print them.
# Investigate what happens when you try to assign a value to a variable that you’ve already defined. Try printing the variable before and after you reuse the name.
# Below you’ll find some code with a number of errors. Try to go through the program line by line and fix the issues in the code. I’d encourage you to try running the program while you’re working on it, as reading the error messages is great practice for debugging your own programs.
#hourly_wage = input("Please enter your hourly wage: ')

#prnt("Hourly wage: ")
#print(hourlywage)
#print("Hours worked: ")
#print(hours_worked)

#hours_worked = input("How many hours did you work this week? ")

In [ ]:
name = input("Name please:")
age = input("Age please:")
print(f'Name:{name} \nAge: {age}')

Name please:Shantayya
Age please:30
Name:Shantayya
Age: 30

In [ ]:
hourly_wage = input("Please enter your hourly wage: ")
hours_worked = input("How many hours did you work this week? ")
print(f"Hourly wage:{hourly_wage} ")
print(f"Hours worked:{hours_worked}")

Please enter your hourly wage: 150
How many hours did you work this week? 8
Hourly wage:150
Hours worked:8

In [ ]:
x = 5
x = 7
print(x)

7

In [ ]:
# Day3 
# if we want multiline statements then use \
# use ctl+/ for multiline comment

In [ ]:
print("hello multiline")
x = 4 + \
        4
print(x)

hello multiline
8

In [ ]:
# String interpolation with .format() method

In [ ]:
print("{} stays in {}".format("Shantayya","Pune"))

Shantayya stays in Pune

In [ ]:
output = "{0} Stays in {1} and {0} is {2} years old"
print(output.format("Shantayya","Pune",30))

Shantayya Stays in Pune and Shantayya is 30 years old

In [ ]:
output = "{name} stays in {city} and {name} is {age} years old"
print(output.format(name="Shantayya",city="Pune",age=30))

Shantayya stays in Pune and Shantayya is 30 years old

In [ ]:
name = "Shantayya"
city = "Pune"
age = 30

In [ ]:
f"{name} stays in {city} and {name} is {age} years old"

'Shantayya stays in Pune and Shantayya is 30 years old'

In [ ]:
# Basic string processing
# lower and upper turn the entire string to lowercase and uppercase, respectively
# capitalize is going to turn the first character to uppercase, with the rest being lowercase. 
# title is going to turn the string to title case, which means every word starts with a capital letter, and all other letters are turns to lowercase.
# strip removing white space from the ends of a string

In [ ]:
"Hello World!".lower()

'hello world!'

In [ ]:
"hello World!".upper()

'HELLO WORLD!'

In [ ]:
"hello world!".capitalize()

'Hello world!'

In [ ]:
"hello world!".title()

'Hello World!'

In [ ]:
" Hello, Shantayya. How are ---you--- doing? ".strip()

'Hello, Shantayya. How are ---you--- doing?'

In [ ]:
# day4

In [ ]:
name = "Shantayya"
lenth = len(name)
print(f"{name[lenth:0]}")

In [ ]:
one = int(input("Enter 1st number:"))
two = int(input("Enter 2nd number"))
print(one + two)

# input considered as string
one = input("Enter 1st number:")
two = input("Enter 2nd number")
print(one + two)

Enter 1st number:12
Enter 2nd number12
24
Enter 1st number:12
Enter 2nd number12
1212

In [ ]:
# lists

In [ ]:
mylistone = ['Shantayya', 30, "Swami", 80]
mylisttwo = ["Shankar", 32, "Swamy", 66]
print(mylistone)
print(mylistone[1:])
print(mylistone + mylisttwo)
mylistone[0] = "Shantanu"
print(mylistone)
mylistone.append(100)
mylistone.pop(1)
mylisttwo.remove(66)
print(mylistone + mylisttwo)
mylisttwo.insert(0,"Shankar")
print(mylisttwo)

['Shantayya', 30, 'Swami', 80]
[30, 'Swami', 80]
['Shantayya', 30, 'Swami', 80, 'Shankar', 32, 'Swamy', 66]
['Shantanu', 30, 'Swami', 80]
['Shantanu', 'Swami', 80, 100, 'Shankar', 32, 'Swamy']
['Shankar', 'Shankar', 32, 'Swamy']

In [ ]:
# tuple
# We can’t change them once we define them.

#This means you won’t find any pop or append methods for tuples, and the del keyword isn’t going to allow you to remove values using an index.

In [ ]:
mytuple = ("Shantayya", 80, "Pune", 'additon')
print(mytuple)
print(mytuple[1:])
print(len(mytuple))

#not allowed
#mytuple[0] = "Hitesh"

('Shantayya', 80, 'Pune', 'additon')
(80, 'Pune', 'additon')
4

In [ ]:
# disctionary
myd = {
    1 : "Shantayya",
    2 : "Swmay",
    3 : "one"

}

In [ ]:
print(myd.keys())
print(myd.values())

dict_keys([1, 2, 3, 5])
dict_values(['Shantayya', 'Swmay', 'one', 'shantayya'])

In [ ]:
myd[5] = 'shantayya'
print(myd)

{1: 'Shantayya', 2: 'Swmay', 3: 'one', 5: 'shantayya'}

In [ ]:
myd.pop(1)

'Shantayya'

In [ ]:
#Excecise
# 1. Create a movies list containing a single tuple. The tuple should contain a movie title, the director’s name, the release year of the movie, and the movie’s budget.
# 2. Use the input function to gather information about another movie. You need a title, director’s name, release year, and budget.
# 3. Create a new tuple from the values you gathered using input. Make sure they’re in the same order as the tuple you wrote in the movies list.
# 4. Use an f-string to print the movie name and release year by accessing your new movie tuple.
# 5. Add the new movie tuple to the movies collection using append.
# 6. Print both movies in the movies collection.
# 7. Remove the first movie from movies. Use any method you like.

In [ ]:
movies = [("DDLJ", "Shantayya Swami", "1999", "1000k" )]
movieinput = (input("Movie: "), input("Director: "), input("year: "), input("Budget: "))
movies.append(movieinput)
print(movies)

Movie: Om
Director: Somnath
year:
Budget: 19
[('DDLJ', 'Shantayya Swami', '1999', '1000k'), ('Om', 'Somnath', '', '19')]

In [ ]:
#movies.pop(0)
print(movies)

[('om', 'shank', '1991', '50l')]

In [ ]:
# Day 5
# 1) Try to approximate the behaviour of the is operator using ==. 
# Remember we have the id function for finding the memory address for a given value, and we can compare memory addresses to check for identity.

In [ ]:
a = 100
b = 100
id(a)
id(b)

11259232

In [ ]:
a is b

True

In [ ]:
# 2) Try to use the is operator or the id function to investigate the difference between this:

# numbers = [1, 2, 3, 4]
# new_numbers = numbers + [5]
# And this:

# # numbers = [1, 2, 3, 4]
# numbers.append(5)

In [ ]:
number = [1,2,3,4]
new_number = number + [5]
id(number)

140406153203056

In [ ]:
id(new_number)

140406152888400

In [ ]:
print(number)

[1, 2, 3, 4]

In [ ]:
print(new_number)

[1, 2, 3, 4, 5]

In [ ]:
id(number.append(5))

11125344

In [ ]:
# 3) Ask the user to enter a number. Tell the user whether the number is positive, negative, or zero.
num = int(input("Please enter a number:"))
if num > 0:
  print(f"{num} is Positive")
elif num < 0:
  print(f"{num} is Negative")
else:
  print(f"Number is {num}")

Please enter a number:-1
-1 is Negative

In [ ]:
# # Design a rating system where user is asked to rate a product with 1-5 rating. Follwing are the feedback that we want to pass to user baed on rating.
# 1. Sorry to hear about your experiance.
# 2. We are tryingto get better. 
# 3. Thanks
# 4. We almost missed the perfect rating fom you.
# 5. Happy to know that you loved our service.

In [ ]:
feed = int(input("Please provide your rating(1-5): "))
if feed in range(1,6):
  if feed == 1:
    print('Sorry to hear about your experiance..!')
  elif feed == 2:
    print("We are trying to get better")
  elif feed == 3:
    print("Thanks")
  elif feed == 4:
    print("We almost missed the perfect rating from you...!")
  else: 
    print("Happy to know that you loved our service...!")
else:
  print("Sorry you have provided incorrect rating...rate within(1-5)")

Please provide your rating(1-5): 5
Happy to know that you loved our service...!

In [ ]:
# # day6
# # build casino game
# 1. take use input between 1-100 number
# 2. If input matches then congrats user to win a lottery
# 3. if input does not patch print match not found and retry 
# 4. retry count will be only 5 times
# 5. if user input >100 then show user that input should be between 1-100

In [ ]:
  import random
  rand, count = 0, 0
  if count in range(1,5):
    uinput = int(input("Please enter a number (1-100)"))
    if uinput in range(1,101):
        rand = randint.shuffle()
        if rand == uinput:
          print("Congrats...! You win the lottery")
          break
        else:
          count += 1
          continue
    else:
      count += 1
      print("Please enter a correct number (1-100)")
      continue

Please enter a number (1-100)200
Please enter a correct number (1-100)
Please enter a number (1-100)211
Please enter a correct number (1-100)
Please enter a number (1-100)233
Please enter a correct number (1-100)
Please enter a number (1-100)432
Please enter a correct number (1-100)

In [ ]:
casino()

Please enter a number (1-100)199
Our o range

In [ ]:
import random
random.random()   #random.random gives value between 1 and 0

0.4008636992667498

In [ ]:
random.choice(range(100))

8

In [ ]:
list = ['shantayya', 2, 32, 21, 'swami']
random.shuffle(list)
print(list)

['swami', 32, 21, 'shantayya', 2]

In [ ]:
import math
print(min(20,12,12,1,9)) 
print(25**0.5)

1
5.0

In [ ]:
def add(a,b):
 return a+b

In [ ]:
add(4,9)

13

In [ ]:
def sub(*num):   #(*num) used to accept multiple arugments
  sub = 0
  for v in num:
    sub = v - sub
  return abs(sub)

In [ ]:
sub(20,10)

10

In [ ]:
#lambda is a single line function with no name. it can accept n number of arguments but have only one expression
sum = lambda num1, num2: num1 + num2
print(sum(32,2))

34

In [ ]:
def add():
  n1,n2 = list(map(int,input("Please input 2 numbers:").split()))      #.split is being used to accept mupltiple inputs
  return n1 + n2

def sub():
  n1,n2 = list(map(int,input("Please input 2 numbers:").split()))
  return abs(n1 - n2)

def mul():
  n1,n2 = lits(map(int,input("Please input 2 numbers:").split()))
  return n1 * n2

def default():
  print("Incorect choice")
  
switcher={
    1: add,
    2: sub,
    3: mul
}
def switch():
  ch = int(input("Welcome to Calculator world:\n1: add\n2: sub\n3: mul\n Please press your choice(1-3):"))
  return switcher.get(ch, default)()   

print(switch())

Welcome to Calculator world:
1: add
2: sub
3: mul
 Please press your choice(1-3):2
Please input 2 numbers:20 10
None

In [ ]:
import time
time.asctime(time.localtime(time.time()))

'Sun Sep 11 13:54:04 2022'

In [ ]:
def prime(num):
  prime = 0
  for i in range(3,num):
    if i == 2:
     continue
    elif not num % i == 0:
      continue
    else:
      prime += 1
  if prime == 0:
    print(f"{num} is prime")
  else:
    print(f"{num} is not prime")

In [ ]:
prime(9)

9 is not prime

In [ ]:
def primerange(num):
 for num in range(1,num + 1):
  if num > 1:
   for i in range(2,num): 
      if num % i == 0:
        break 
   else:
     print(num)

In [ ]:
primerange(50)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [ ]:
def fact(num):
  factorial = 1
  if num == 0:
    print("Factorial is 1")
  elif num < 0:
    print(f"Factorial is not allowed for {num}")
  else:
   for i in range(1,num + 1):
     factorial = factorial * i
   return factorial

In [ ]:
fact(6)

720

In [ ]:
# print matrix
row = int(input("Enter number of rows:"))
col = int(input("Enter number of columns"))

matrix = []
print("Enter the values:\n")
for i in range(row):
  a = []
  for j in range(col):
     a.append(int(input()))
  matrix.append(a)

for i in range(row):
  for j in range(col):
    print(matrix[i][j], end=' ' )
  print()

Enter number of rows:2
Enter number of columns2
Enter the values:

1
2
3
4
1 2
3 4

In [1]:
class Phone():
  Name = ""
  version = "10X"
  
  def __init__(self,name):
    self.Name = name

  def bootLogo(self):
    print("Iphone", self.version)

In [2]:
p = Phone("Iphone")
p.bootLogo()

Iphone 10X

In [3]:
# when we want full control of what is getting inside ans going out of class ten we used getter and setter

In [4]:
class Phone():
  Company = ""
  version = "10X"
  
  def __init__(self,name):
    self.Company = name

  def bootLogo(self):
    print("Iphone", self.version)

  def get_model(self):
    return "iPhone"

  def set_model(self, val):
    self.model = val

In [12]:
ph = Phone("Apple")
ph.set_model("Samsung")
ph.get_model()

'iPhone'

In [13]:
ph.model

'Samsung'

In [14]:
# Inheritance - borrowing the super class functionality in subclass

In [41]:
class iPhone():
  def __init__(self):
    print("I am iPhone")
  
  def makesceen(self):
    print("I make screens")

  def test(self):
    print("Phone tested ok")
  
class Samsung(iPhone):
  def __init__(self):
    print("I am SamSung")
  
  def a3cheeps(self):
    print("I am a3cheeps")
  
  def Stest(self):
    print("SamSung tested ok")
    super().test()

In [42]:
cell = Samsung()
icell = iPhone()

I am SamSung
I am iPhone

In [43]:
cell.Stest()

SamSung tested ok
Phone tested ok