<a href="https://colab.research.google.com/github/shantayya/Python-Projects/blob/main/30Days_for_Pythpon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# select lines and press ctrl + / for multiple line comments 
# Day1 excercise
# Print your age to the console.
# Calculate and print the number of days, weeks, and months in 27 years. Don’t worry about leap years!
# Calculate and print the area of a circle with a radius of 5 units. You can be as accurate as you like with the value of pi.

In [ ]:
print(30)

30

In [ ]:
print('Days:'+ str(27 * 365))
print('Weaks:'+ str(27 * 52))
print('Months:'+ str(27 * 12))

Days:9855
Weaks:1404
Months:324

In [ ]:
def area(rad):
  pi = 3.14
  area = pi * rad**2
  print(f"Area: {area}")

In [ ]:
area(5)

Area: 78.5

In [ ]:
# QRCode generation

In [ ]:
pip install qrcode[pip]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting qrcode[pip]
  Downloading qrcode-7.3.1.tar.gz (43 kB)
     |████████████████████████████████| 43 kB 2.3 MB/s
WARNING: qrcode 7.3.1 does not provide the extra 'pip'
Building wheels for collected packages: qrcode
  Building wheel for qrcode (setup.py) ... done
  Created wheel for qrcode: filename=qrcode-7.3.1-py3-none-any.whl size=40402 sha256=7776182181a1f3c9e7f98347025342f7e4c90c0efb5c0775e19fd4b03d5bf881
  Stored in directory: /root/.cache/pip/wheels/93/d7/39/a4111be2cfb8e679938aa671a37888b6afb1f9e7d748e94492
Successfully built qrcode
Installing collected packages: qrcode
Successfully installed qrcode-7.3.1

In [ ]:
import qrcode as qr
from PIL import Image
img = qr.make("mh12q9820@icici")
img.save("iciciqr.png")
qrc = Image.open(r"/content/iciciqr.png")
qrc.show()

In [ ]:
pwd

'/content'

In [ ]:
ls -lrt

total 8
drwxr-xr-x 1 root root 4096 Aug 15 13:44 sample_data/
-rw-r--r-- 1 root root  557 Aug 26 06:01 iciciqr.png

In [ ]:
img = Image.open('/content/iciciqr.png')
img.show()

In [ ]:
# Day2 
# Ask the user for their name and age, assign theses values to two variables, and then print them.
# Investigate what happens when you try to assign a value to a variable that you’ve already defined. Try printing the variable before and after you reuse the name.
# Below you’ll find some code with a number of errors. Try to go through the program line by line and fix the issues in the code. I’d encourage you to try running the program while you’re working on it, as reading the error messages is great practice for debugging your own programs.
#hourly_wage = input("Please enter your hourly wage: ')

#prnt("Hourly wage: ")
#print(hourlywage)
#print("Hours worked: ")
#print(hours_worked)

#hours_worked = input("How many hours did you work this week? ")

In [ ]:
name = input("Name please:")
age = input("Age please:")
print(f'Name:{name} \nAge: {age}')

Name please:Shantayya
Age please:30
Name:Shantayya
Age: 30

In [ ]:
hourly_wage = input("Please enter your hourly wage: ")
hours_worked = input("How many hours did you work this week? ")
print(f"Hourly wage:{hourly_wage} ")
print(f"Hours worked:{hours_worked}")

Please enter your hourly wage: 150
How many hours did you work this week? 8
Hourly wage:150
Hours worked:8

In [ ]:
x = 5
x = 7
print(x)

7

In [ ]:
# Day3 
# if we want multiline statements then use \
# use ctl+/ for multiline comment

In [ ]:
print("hello multiline")
x = 4 + \
        4
print(x)

hello multiline
8

In [ ]:
# String interpolation with .format() method

In [ ]:
print("{} stays in {}".format("Shantayya","Pune"))

Shantayya stays in Pune

In [ ]:
output = "{0} Stays in {1} and {0} is {2} years old"
print(output.format("Shantayya","Pune",30))

Shantayya Stays in Pune and Shantayya is 30 years old

In [ ]:
output = "{name} stays in {city} and {name} is {age} years old"
print(outpuormat(name="Shantayya",city="Pune",age=30)

In [ ]:
name = "Shantayya"
city = "Pune"
age = 30

In [ ]:
f"{name} stays in {city} and {name} is {age} years old"

'Shantayya stays in Pune and Shantayya is 30 years old'

In [ ]:
# Basic string processing
# lower and upper turn the entire string to lowercase and uppercase, respectively
# capitalize is going to turn the first character to uppercase, with the rest being lowercase. 
# title is going to turn the string to title case, which means every word starts with a capital letter, and all other letters are turns to lowercase.
# strip removing white space from the ends of a string

In [ ]:
"Hello World!".lower()

'hello world!'

In [ ]:
"hello World!".upper()

'HELLO WORLD!'

In [ ]:
"hello world!".capitalize()

'Hello world!'

In [ ]:
"hello world!".title()

'Hello World!'

In [ ]:
" Hello, Shantayya. How are you doing? ".strip()

'Hello, Shantayya. How are you doing?'

In [ ]:
# day4

In [ ]:
name = "Shantayya"
lenth = len(name)
print(f"{name[lenth:0]}")

In [ ]:
one = int(input("Enter 1st number:"))
two = int(input("Enter 2nd number"))
print(one + two)

# input considered as string
one = input("Enter 1st number:")
two = input("Enter 2nd number")
print(one + two)

Enter 1st number:12
Enter 2nd number12
24
Enter 1st number:12
Enter 2nd number12
1212

In [ ]:
# lists

In [ ]:
mylistone = ['Shantayya', 30, "Swami", 80]
mylisttwo = ["Shankar", 32, "Swamy", 66]
print(mylistone)
print(mylistone[1:])
print(mylistone + mylisttwo)
mylistone[0] = "Shantanu"
print(mylistone)
mylistone.append(100)
mylistone.pop(1)
mylisttwo.remove(66)
print(mylistone + mylisttwo)

['Shantayya', 30, 'Swami', 80]
[30, 'Swami', 80]
['Shantayya', 30, 'Swami', 80, 'Shankar', 32, 'Swamy', 66]
['Shantanu', 30, 'Swami', 80]
['Shantanu', 'Swami', 80, 100, 'Shankar', 32, 'Swamy']

In [ ]:
# tuple
# We can’t change them once we define them.

#This means you won’t find any pop or append methods for tuples, and the del keyword isn’t going to allow you to remove values using an index.

In [ ]:
mytuple = ("Shantayya", 80, "Pune", 'additon')
print(mytuple)
print(mytuple[1:])
print(len(mytuple))

#not allowed
#mytuple[0] = "Hitesh"

('Shantayya', 80, 'Pune', 'additon')
(80, 'Pune', 'additon')
4

In [ ]:
# disctionary
myd = {
    1 : "Shantayya",
    2 : "Swmay",
    3 : "one"

}

In [ ]:
print(myd.keys())
print(myd.values())

dict_keys([2, 3])
dict_values(['Swmay', 'adding4'])

In [ ]:
myd[4] = ""
print(myd)

{1: 'Shantayya', 2: 'Swmay', 3: 'adding4', 4: ''}

In [ ]:
myd.pop(1)

'Shantayya'

In [ ]:
#Excecise
# 1. Create a movies list containing a single tuple. The tuple should contain a movie title, the director’s name, the release year of the movie, and the movie’s budget.
# 2. Use the input function to gather information about another movie. You need a title, director’s name, release year, and budget.
# 3. Create a new tuple from the values you gathered using input. Make sure they’re in the same order as the tuple you wrote in the movies list.
# 4. Use an f-string to print the movie name and release year by accessing your new movie tuple.
# 5. Add the new movie tuple to the movies collection using append.
# 6. Print both movies in the movies collection.
# 7. Remove the first movie from movies. Use any method you like.

In [ ]:
movies = [("DDLJ", "Shantayya Swami", "1999", "1000k" )]
movieinput = (input("Movie: "), input("Director: "), input("year: "), input("Budget: "))
movies.append(movieinput)
print(movies)

Movie: Om
Director: Somnath
year:
Budget: 19
[('DDLJ', 'Shantayya Swami', '1999', '1000k'), ('Om', 'Somnath', '', '19')]

In [ ]:
#movies.pop(0)
print(movies)

[('om', 'shank', '1991', '50l')]

In [1]:
# Day 5
# 1) Try to approximate the behaviour of the is operator using ==. 
# Remember we have the id function for finding the memory address for a given value, and we can compare memory addresses to check for identity.

In [2]:
a = 100
b = 100
id(a)
id(b)

11259232

In [6]:
a is b

True

In [7]:
# 2) Try to use the is operator or the id function to investigate the difference between this:

# numbers = [1, 2, 3, 4]
# new_numbers = numbers + [5]
# And this:

# # numbers = [1, 2, 3, 4]
# numbers.append(5)

In [10]:
number = [1,2,3,4]
new_number = number + [5]
id(number)

140406153203056

In [11]:
id(new_number)

140406152888400

In [12]:
print(number)

[1, 2, 3, 4]

In [13]:
print(new_number)

[1, 2, 3, 4, 5]

In [14]:
id(number.append(5))

11125344

In [18]:
# 3) Ask the user to enter a number. Tell the user whether the number is positive, negative, or zero.
num = int(input("Please enter a number:"))
if num > 0:
  print(f"{num} is Positive")
elif num < 0:
  print(f"{num} is Negative")
else:
  print(f"Number is {num}")

Please enter a number:-1
-1 is Negative