<a href="https://colab.research.google.com/github/Shantayya/Python-Projects/blob/main/AdvancedPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Decorators
def Hello(name):
  print(f"Hello {name}")

  def greet():
    print("\t thanks for greeting")

  def welcome():
    print("\t Welcome")

  return greet()

In [ ]:
Hello('Shantayya')

Hello Shantayya
	 thanks for greeting

In [ ]:
Hello

In [ ]:
def new_decorator(original_func):
 # def wrap():
    print("Code, Before original function")
    original_func()
    print("Code, after original function")
    return new_decorator

In [ ]:
@new_decorator
def fun_needs_decorator():
  print("I am adding exytra functionality as decorator")

Code, Before original function
I am adding exytra functionality as decorator
Code, after original function

In [ ]:
# Generators

In [ ]:
def cube(n):
  result = []
  for i in range(n):
    result.append(i**3)
  return result

In [ ]:
list(cube(8))

[0, 1, 8, 27, 64, 125, 216, 343]

In [ ]:
def generate_cube(n):
  for i in range(n):
     yield i**3

In [ ]:
for i in generate_cube(10):
  print(i)

0
1
8
27
64
125
216
343
512
729

In [ ]:
def generate_fib(n):
  a=1
  b=1
  for i in range(n):
    yield a
    a,b = b,a+b

In [ ]:
list(generate_fib(9))

[1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
def sample_gen(n):
  for i in range(n):
    yield i

In [ ]:
sample_gen(6)

In [ ]:
sample_gen(next)

In [ ]:
out = sample_gen(5)

In [ ]:
print(next(out))

2

In [ ]:
# yield iterate autmaticaly (behind the scene for loop executed to perform iteration)

In [ ]:
letter = 'Hello'
for i in letter:
  print(i)

H
e
l
l
o

In [ ]:
print(next(i))

TypeError: ignored

In [ ]:
letter_iter = iter(letter)

In [ ]:
print(next(letter_iter))

e

In [ ]:
import random
def randome(low,high,num):
   for i in range(num):
     yield random.randint(low,high)

In [ ]:
list(randome(1,4,12))

[2, 2, 3, 4, 3, 3, 3, 2, 4, 3, 1, 4]

In [ ]:
# Python Modules
# Counter = count duplicates

In [ ]:
from collections import Counter
mylist = [1,1,1,1,1,1,1,2,3,2,1,2,1,2,1,4]
Counter(mylist)

Counter({1: 10, 2: 4, 3: 1, 4: 1})

In [ ]:
name = 'shantayya, How are you doing man? How are all at home?'
Counter(name.split())

Counter({'shantayya,': 1,
         'How': 2,
         'are': 2,
         'you': 1,
         'doing': 1,
         'man?': 1,
         'all': 1,
         'at': 1,
         'home?': 1})

In [ ]:
c = Counter(name)

In [ ]:
c

Counter({'s': 1,
         'h': 2,
         'a': 8,
         'n': 3,
         't': 2,
         'y': 3,
         ',': 1,
         ' ': 10,
         'H': 2,
         'o': 5,
         'w': 2,
         'r': 2,
         'e': 3,
         'u': 1,
         'd': 1,
         'i': 1,
         'g': 1,
         'm': 2,
         '?': 2,
         'l': 2})

In [ ]:
from collections import namedtuple
dog = namedtuple("Dog",["Name","Age","Breed"])

In [ ]:
dg = dog("Name=Sammy","Age=4","Breed=Husky")

In [ ]:
dg.Age

'Age=4'

In [ ]:
animal = namedtuple("Animal",["Name","Age","Breed"])

In [ ]:
pet = animal(Name="Money",Age="5",Breed="Husky")

In [ ]:
pet.Age

'5'

In [ ]:
pet.Breed

'Husky'

In [ ]:
pet[0]

'Money'

In [ ]:
f = open("test.txt","+w")
f.write("Hello Shantayya")
f.close()

In [ ]:
import os
os.listdir()

['.config', 'test.txt', 'sample_data']

In [ ]:
os.getcwd()

'/content'

In [ ]:
import datetime

In [ ]:
print(datetime.date.today())

2022-08-20

In [ ]:
import random

In [ ]:
mylist = []
for i in range(20):
  mylist.append(i)

In [ ]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
random.shuffle(mylist)

In [ ]:
mylist

[4, 1, 12, 19, 6, 2, 13, 8, 5, 11, 15, 16, 18, 17, 10, 0, 3, 7, 9, 14]

In [ ]:
random.choices(population=mylist,k=15)

[1, 14, 17, 13, 19, 18, 14, 15, 13, 5, 15, 13, 9, 13, 17]

In [ ]:
random.sample(population=mylist, k=15)

[12, 5, 19, 10, 0, 14, 11, 15, 3, 7, 2, 1, 4, 9, 8]

In [ ]:
# regulater expression

In [ ]:
text = "This is shantayya,Phone Call me tomorrow, Phone number is"

In [ ]:
pattern = "Phone"

In [ ]:
import re

In [ ]:
re.search(pattern,text)

In [ ]:
for i in re.finditer(pattern,text):
  print(i)

<re.Match object; span=(18, 23), match='Phone'>
<re.Match object; span=(42, 47), match='Phone'>

In [ ]:
# \d - digit (0-9)
#\w - alphanumeric (a-z,0-9, _)
 # \s - whitespace (' ')
# \D - non-digit (A-Z)
# \W - non-alphanumeric (*-+=@)
# \S - non-whitespace

In [ ]:
# Quanitfiers
# + - occurs once or more times
# {3} - occurs 3 times
# {2,4} - occurs 2 to 4 times
# * - occurs zero to more times
# ? - once or none

In [ ]:
text = "This is Shan, with phone number 999-999-9876"

In [ ]:
match = re.search(r'\d{3}-\d{3}-\d{4}',text)

In [ ]:
match

In [ ]:
match.group()

'999-999-9876'

In [ ]:
match_group = re.search(re.compile(r'(\d{3})-(\d{3})-(\d{4})'),text)

In [ ]:
match_group

In [ ]:
match_group.group(2)

'999'

In [ ]:
re.search(r'cat|dog','cat name is dog')

In [ ]:
re.findall(r'\d','121cat name is money2')

['1', '2', '1', '2']

In [ ]:
re.findall(r'[^\d]+','my name is 21 and 21stop now')   # [] exclude from list ^-starting with

['my name is ', ' and ', 'stop now']

In [ ]:
state = 'This is shant-ayya, and liv-ing in Pune..! really ?'
punch = re.findall(r'[^,.!?]+',state)

In [ ]:
''.join(punch)

'This is shant-ayya and liv-ing in Pune really '

In [ ]:
re.findall(r'[\w]+-[\w]+',state)

['shant-ayya', 'liv-ing']

In [ ]:
# time calculation of prgms

In [ ]:
def func_one(n):
  return [str(num) for num in range(n)]

In [ ]:
func_one(10)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [ ]:
def func_two(n):
  return list(map(str,range(n)))

In [ ]:
func_two(10)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [ ]:
import time

In [ ]:
# start os time
startt = time.time()
#call func
func_one(10)
#end os time
endt = time.time()
#calculate time taken by func
timet = endt - startt
print(timet)

4.8160552978515625e-05

In [ ]:
# start os time
startt = time.time()
#call func
func_two(10)
#end os time
endt = time.time()
#calculate time taken by func
timet = endt - startt
print(timet)

5.0067901611328125e-05

In [ ]:
import timeit

In [ ]:
stat1 = '''
func_one(100)
'''

In [ ]:
setup1 = '''
def func_one(n):
  return [str(num) for num in range(n)]
  '''

In [ ]:
stat2 = '''
func_two(100)
'''

In [ ]:
setup2 = '''
def func_two(n):
  return list(map(str,range(n)))
  '''

In [ ]:
timeit. timeit(stat1,setup1,number = 1000000)

13.245047447000616

In [ ]:
timeit.timeit(stat2,setup2,number = 1000000)

8.44709214500017

In [ ]:
%%timeit
func_one(100)

15.2 µs ± 993 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [ ]:
%%timeit
func_two(100)

8.83 µs ± 90.5 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [ ]:
# tar and untar in python

In [ ]:
import shutil

In [ ]:
pwd

'/content'

In [ ]:
shutil.make_archive('python','tar','/content')

'/content/python.tar'

In [ ]:
ls -lrt

total 55564
drwxr-xr-x 1 root root     4096 Aug 15 13:44 sample_data/
-rw-r--r-- 1 root root 56893440 Aug 22 16:07 python.tar

In [ ]:
shutil.unpack_archive('python.tar','extracted_python','tar')

In [ ]:
ls -lrt

total 55568
drwxr-xr-x 1 root root     4096 Aug 15 13:44 sample_data/
drwxr-xr-x 4 root root     4096 Aug 22 16:07 extracted_python/
-rw-r--r-- 1 root root 56893440 Aug 22 16:07 python.tar

In [ ]:
cd extracted_python

/content/extracted_python

In [ ]:
ls -lrt

total 4
drwxr-xr-x 2 root root 4096 Aug 15 13:44 sample_data/

In [ ]:
cd ../

/content

In [ ]:
ls -lrt

total 55568
drwxr-xr-x 1 root root     4096 Aug 15 13:44 sample_data/
drwxr-xr-x 4 root root     4096 Aug 22 16:07 extracted_python/
-rw-r--r-- 1 root root 56893440 Aug 22 16:07 python.tar

In [ ]:
#ineuron advance Python : Iterator
# list,tuple,range() all are iterable object
A = [1,2,3,4,5]            #--> A being list is iterable but to use in next function we need A to be iterator
next(A)

TypeError: ignored

In [ ]:
A = iter(A)
next(A)

1

In [ ]:
a = 56
a = iter(a)
next(a)

TypeError: ignored

In [ ]:
# generator --> use yield keyword its generate the range like function
def generate_cube(n):
  cube = []
  for i in range(n):
    cube.append(i**3)
  return cube

def withgenerator_cube(n):
  for i in range(n):
    yield i**3

In [ ]:
generate_cube(10000000)   #---> here if n is very large number then code wil not be optimized because above code will save results into list(eates lot of RAM)
# and rturns only when list completed and here we cannot use print becuase print returns none type i.e I cannot premitive operations on returned result.
# thats why we use generator : yield only remeber what dataset i have generated last time and what i have to do now based on current logic. it will not store 
# all result to eat ram

[0,
 1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000,
 1030301,
 1061208,
 1092727,
 1124864,
 1157625,
 1191016,
 1225043,
 1259712,
 1295029,
 1331000,
 1367631,
 1404928,
 1442897,
 1481544,
 1520875,
 1560896,
 1601613,
 1643032,
 1685159,
 1728000,
 1771561,
 1815848,
 1860867,
 1906624,
 1953125,
 2000376,
 2048383,
 2097152,
 2146689,
 2197000,
 2248091,
 2299968,
 2352637,
 2406104,
 2460375,
 2515456,
 2571353,
 2628072,
 2685619,
 2744000,
 2803221,
 2863288,
 2924207,
 2985984,
 3048625,
 3112136,
 3176523,
 3241792,
 3307949,
 3375000,
 3442951,
 3511808,
 3581577,
 3652264,
 3723875,
 3796416,
 3869893,
 3944312,
 4019679,
 4096000,
 4173281,
 4251528,
 4330747,
 4410944,
 4492125,
 4574296,
 4657463,
 4741632,
 4826809,
 4913000,
 5000211,
 5088448,
 5177717,
 5268024,
 5359375,
 5451776,
 5545233,
 5639752,
 5735339,
 5832000,
 5929741,
 6028568,
 6128487,
 6229504,
 6331625,
 6434856,
 6539203,
 6644672,
 6751269,
 6859000,
 6967871,
 7077888,
 7189057,
 7301384,
 7414875,
 7529536,
 7645373,
 7762392,
 7880599,
 8000000,
 8120601,
 8242408,
 8365427,
 8489664,
 8615125,
 8741816,
 8869743,
 8998912,
 9129329,
 9261000,
 9393931,
 9528128,
 9663597,
 9800344,
 9938375,
 10077696,
 10218313,
 10360232,
 10503459,
 10648000,
 10793861,
 10941048,
 11089567,
 11239424,
 11390625,
 11543176,
 11697083,
 11852352,
 12008989,
 12167000,
 12326391,
 12487168,
 12649337,
 12812904,
 12977875,
 13144256,
 13312053,
 13481272,
 13651919,
 13824000,
 13997521,
 14172488,
 14348907,
 14526784,
 14706125,
 14886936,
 15069223,
 15252992,
 15438249,
 15625000,
 15813251,
 16003008,
 16194277,
 16387064,
 16581375,
 16777216,
 16974593,
 17173512,
 17373979,
 17576000,
 17779581,
 17984728,
 18191447,
 18399744,
 18609625,
 18821096,
 19034163,
 19248832,
 19465109,
 19683000,
 19902511,
 20123648,
 20346417,
 20570824,
 20796875,
 21024576,
 21253933,
 21484952,
 21717639,
 21952000,
 22188041,
 22425768,
 22665187,
 22906304,
 23149125,
 23393656,
 23639903,
 23887872,
 24137569,
 24389000,
 24642171,
 24897088,
 25153757,
 25412184,
 25672375,
 25934336,
 26198073,
 26463592,
 26730899,
 27000000,
 27270901,
 27543608,
 27818127,
 28094464,
 28372625,
 28652616,
 28934443,
 29218112,
 29503629,
 29791000,
 30080231,
 30371328,
 30664297,
 30959144,
 31255875,
 31554496,
 31855013,
 32157432,
 32461759,
 32768000,
 33076161,
 33386248,
 33698267,
 34012224,
 34328125,
 34645976,
 34965783,
 35287552,
 35611289,
 35937000,
 36264691,
 36594368,
 36926037,
 37259704,
 37595375,
 37933056,
 38272753,
 38614472,
 38958219,
 39304000,
 39651821,
 40001688,
 40353607,
 40707584,
 41063625,
 41421736,
 41781923,
 42144192,
 42508549,
 42875000,
 43243551,
 43614208,
 43986977,
 44361864,
 44738875,
 45118016,
 45499293,
 45882712,
 46268279,
 46656000,
 47045881,
 47437928,
 47832147,
 48228544,
 48627125,
 49027896,
 49430863,
 49836032,
 50243409,
 50653000,
 51064811,
 51478848,
 51895117,
 52313624,
 52734375,
 53157376,
 53582633,
 54010152,
 54439939,
 54872000,
 55306341,
 55742968,
 56181887,
 56623104,
 57066625,
 57512456,
 57960603,
 58411072,
 58863869,
 59319000,
 59776471,
 60236288,
 60698457,
 61162984,
 61629875,
 62099136,
 62570773,
 63044792,
 63521199,
 64000000,
 64481201,
 64964808,
 65450827,
 65939264,
 66430125,
 66923416,
 67419143,
 67917312,
 68417929,
 68921000,
 69426531,
 69934528,
 70444997,
 70957944,
 71473375,
 71991296,
 72511713,
 73034632,
 73560059,
 74088000,
 74618461,
 75151448,
 75686967,
 76225024,
 76765625,
 77308776,
 77854483,
 78402752,
 78953589,
 79507000,
 80062991,
 80621568,
 81182737,
 81746504,
 82312875,
 82881856,
 83453453,
 84027672,
 84604519,
 85184000,
 85766121,
 86350888,
 86938307,
 87528384,
 88121125,
 88716536,
 89314623,
 89915392,
 90518849,
 91125000,
 91733851,
 92345408,
 92959677,
 93576664,
 94196375,
 94818816,
 95443993,
 96071912,
 96702579,
 97336000,
 97972181,
 98611128,
 99252847,
 99897344,
 100544625,
 101194696,
 101847563,
 102503232,
 103161709,
 103823000,
 104487111,
 105154048,
 105823817,
 106496424,
 107171875,
 107850176,
 108531333,
 109215352,
 109902239,
 110592000,
 111284641,
 111980168,
 112678587,
 113379904,
 114084125,
 114791256,
 115501303,
 116214272,
 116930169,
 117649000,
 118370771,
 119095488,
 119823157,
 120553784,
 121287375,
 122023936,
 122763473,
 123505992,
 124251499,
 125000000,
 125751501,
 126506008,
 127263527,
 128024064,
 128787625,
 129554216,
 130323843,
 131096512,
 131872229,
 132651000,
 133432831,
 134217728,
 135005697,
 135796744,
 136590875,
 137388096,
 138188413,
 138991832,
 139798359,
 140608000,
 141420761,
 142236648,
 143055667,
 143877824,
 144703125,
 145531576,
 146363183,
 147197952,
 148035889,
 148877000,
 149721291,
 150568768,
 151419437,
 152273304,
 153130375,
 153990656,
 154854153,
 155720872,
 156590819,
 157464000,
 158340421,
 159220088,
 160103007,
 160989184,
 161878625,
 162771336,
 163667323,
 164566592,
 165469149,
 166375000,
 167284151,
 168196608,
 169112377,
 170031464,
 170953875,
 171879616,
 172808693,
 173741112,
 174676879,
 175616000,
 176558481,
 177504328,
 178453547,
 179406144,
 180362125,
 181321496,
 182284263,
 183250432,
 184220009,
 185193000,
 186169411,
 187149248,
 188132517,
 189119224,
 190109375,
 191102976,
 192100033,
 193100552,
 194104539,
 195112000,
 196122941,
 197137368,
 198155287,
 199176704,
 200201625,
 201230056,
 202262003,
 203297472,
 204336469,
 205379000,
 206425071,
 207474688,
 208527857,
 209584584,
 210644875,
 211708736,
 212776173,
 213847192,
 214921799,
 216000000,
 217081801,
 218167208,
 219256227,
 220348864,
 221445125,
 222545016,
 223648543,
 224755712,
 225866529,
 226981000,
 228099131,
 229220928,
 230346397,
 231475544,
 232608375,
 233744896,
 234885113,
 236029032,
 237176659,
 238328000,
 239483061,
 240641848,
 241804367,
 242970624,
 244140625,
 245314376,
 246491883,
 247673152,
 248858189,
 250047000,
 251239591,
 252435968,
 253636137,
 254840104,
 256047875,
 257259456,
 258474853,
 259694072,
 260917119,
 262144000,
 263374721,
 264609288,
 265847707,
 267089984,
 268336125,
 269586136,
 270840023,
 272097792,
 273359449,
 274625000,
 275894451,
 277167808,
 278445077,
 279726264,
 281011375,
 282300416,
 283593393,
 284890312,
 286191179,
 287496000,
 288804781,
 290117528,
 291434247,
 292754944,
 294079625,
 295408296,
 296740963,
 298077632,
 299418309,
 300763000,
 302111711,
 303464448,
 304821217,
 306182024,
 307546875,
 308915776,
 310288733,
 311665752,
 313046839,
 314432000,
 315821241,
 317214568,
 318611987,
 320013504,
 321419125,
 322828856,
 324242703,
 325660672,
 327082769,
 328509000,
 329939371,
 331373888,
 332812557,
 334255384,
 335702375,
 337153536,
 338608873,
 340068392,
 341532099,
 343000000,
 344472101,
 345948408,
 347428927,
 348913664,
 350402625,
 351895816,
 353393243,
 354894912,
 356400829,
 357911000,
 359425431,
 360944128,
 362467097,
 363994344,
 365525875,
 367061696,
 368601813,
 370146232,
 371694959,
 373248000,
 374805361,
 376367048,
 377933067,
 379503424,
 381078125,
 382657176,
 384240583,
 385828352,
 387420489,
 389017000,
 390617891,
 392223168,
 393832837,
 395446904,
 397065375,
 398688256,
 400315553,
 401947272,
 403583419,
 405224000,
 406869021,
 408518488,
 410172407,
 411830784,
 413493625,
 415160936,
 416832723,
 418508992,
 420189749,
 421875000,
 423564751,
 425259008,
 426957777,
 428661064,
 430368875,
 432081216,
 433798093,
 435519512,
 437245479,
 438976000,
 440711081,
 442450728,
 444194947,
 445943744,
 447697125,
 449455096,
 451217663,
 452984832,
 454756609,
 456533000,
 458314011,
 460099648,
 461889917,
 463684824,
 465484375,
 467288576,
 469097433,
 470910952,
 472729139,
 474552000,
 476379541,
 478211768,
 480048687,
 481890304,
 483736625,
 485587656,
 487443403,
 489303872,
 491169069,
 493039000,
 494913671,
 496793088,
 498677257,
 500566184,
 502459875,
 504358336,
 506261573,
 508169592,
 510082399,
 512000000,
 513922401,
 515849608,
 517781627,
 519718464,
 521660125,
 523606616,
 525557943,
 527514112,
 529475129,
 531441000,
 533411731,
 535387328,
 537367797,
 539353144,
 541343375,
 543338496,
 545338513,
 547343432,
 549353259,
 551368000,
 553387661,
 555412248,
 557441767,
 559476224,
 561515625,
 563559976,
 565609283,
 567663552,
 569722789,
 571787000,
 573856191,
 575930368,
 578009537,
 580093704,
 582182875,
 584277056,
 586376253,
 588480472,
 590589719,
 592704000,
 594823321,
 596947688,
 599077107,
 601211584,
 603351125,
 605495736,
 607645423,
 609800192,
 611960049,
 614125000,
 616295051,
 618470208,
 620650477,
 622835864,
 625026375,
 627222016,
 629422793,
 631628712,
 633839779,
 636056000,
 638277381,
 640503928,
 642735647,
 644972544,
 647214625,
 649461896,
 651714363,
 653972032,
 656234909,
 658503000,
 660776311,
 663054848,
 665338617,
 667627624,
 669921875,
 672221376,
 674526133,
 676836152,
 679151439,
 681472000,
 683797841,
 686128968,
 688465387,
 690807104,
 693154125,
 695506456,
 697864103,
 700227072,
 702595369,
 704969000,
 707347971,
 709732288,
 712121957,
 714516984,
 716917375,
 719323136,
 721734273,
 724150792,
 726572699,
 729000000,
 731432701,
 733870808,
 736314327,
 738763264,
 741217625,
 743677416,
 746142643,
 748613312,
 751089429,
 753571000,
 756058031,
 758550528,
 761048497,
 763551944,
 766060875,
 768575296,
 771095213,
 773620632,
 776151559,
 778688000,
 781229961,
 783777448,
 786330467,
 788889024,
 791453125,
 794022776,
 796597983,
 799178752,
 801765089,
 804357000,
 806954491,
 809557568,
 812166237,
 814780504,
 817400375,
 820025856,
 822656953,
 825293672,
 827936019,
 830584000,
 833237621,
 835896888,
 838561807,
 841232384,
 843908625,
 846590536,
 849278123,
 851971392,
 854670349,
 857375000,
 860085351,
 862801408,
 865523177,
 868250664,
 870983875,
 873722816,
 876467493,
 879217912,
 881974079,
 884736000,
 887503681,
 890277128,
 893056347,
 895841344,
 898632125,
 901428696,
 904231063,
 907039232,
 909853209,
 912673000,
 915498611,
 918330048,
 921167317,
 924010424,
 926859375,
 929714176,
 932574833,
 935441352,
 938313739,
 941192000,
 944076141,
 946966168,
 949862087,
 952763904,
 955671625,
 958585256,
 961504803,
 964430272,
 967361669,
 970299000,
 973242271,
 976191488,
 979146657,
 982107784,
 985074875,
 988047936,
 991026973,
 994011992,
 997002999,
 ...]

In [ ]:
for i in withgenerator_cube(10):
  print(i)

0
1
8
27
64
125
216
343
512
729

In [ ]:
def fib(n):
  a = 0
  b = 1
  for i in range(n):
    yield a,i 
    a, b = b, a+b

In [ ]:
for i in fib(50):
  print(i)

(0, 0)
(1, 1)
(1, 2)
(2, 3)
(3, 4)
(5, 5)
(8, 6)
(13, 7)
(21, 8)
(34, 9)
(55, 10)
(89, 11)
(144, 12)
(233, 13)
(377, 14)
(610, 15)
(987, 16)
(1597, 17)
(2584, 18)
(4181, 19)
(6765, 20)
(10946, 21)
(17711, 22)
(28657, 23)
(46368, 24)
(75025, 25)
(121393, 26)
(196418, 27)
(317811, 28)
(514229, 29)
(832040, 30)
(1346269, 31)
(2178309, 32)
(3524578, 33)
(5702887, 34)
(9227465, 35)
(14930352, 36)
(24157817, 37)
(39088169, 38)
(63245986, 39)
(102334155, 40)
(165580141, 41)
(267914296, 42)
(433494437, 43)
(701408733, 44)
(1134903170, 45)
(1836311903, 46)
(2971215073, 47)
(4807526976, 48)
(7778742049, 49)

In [ ]:
def print_fib(n):
  a = 0
  b = 1
  for i in range(n):
    print(type(print(a)))        #--> return none type when we pass high number so we canot perform any operations on result or if we use list then it will not return result until it saves all result in list.
    a, b = b, a+b

In [ ]:
print_fib(10)

0
<class 'NoneType'>
1
<class 'NoneType'>
1
<class 'NoneType'>
2
<class 'NoneType'>
3
<class 'NoneType'>
5
<class 'NoneType'>
8
<class 'NoneType'>
13
<class 'NoneType'>
21
<class 'NoneType'>
34
<class 'NoneType'>

In [ ]:
!ls -lrt

total 4
drwxr-xr-x 1 root root 4096 Dec  9 14:37 sample_data

In [ ]:
%ls -lrt

total 4
drwxr-xr-x 1 root root 4096 Dec  9 14:37 sample_data/

In [ ]:
f = open("sample_file", "w")
f.write("Hello This is shantayya, executing file moduel in python")
f.close()

# r --> default read mode
# r+ --> read + write
# w --> write mode
# a --> append mode
# rb+ -> read write binary mode

In [ ]:
!ls -lrt

total 8
drwxr-xr-x 1 root root 4096 Dec  9 14:37 sample_data
-rw-r--r-- 1 root root   56 Dec 13 04:52 sample_file

In [ ]:
!cat sample_file

Hello This is shantayya, executing file moduel in python

In [ ]:
%%writefile file1.txt
Hello world
shantayya
Hello
1
2
3

Writing file1.txt

In [ ]:
!cat file1.txt

Hello world

In [ ]:
f = open("sample_file")
f.read()

'Hello This is shantayya, executing file moduel in python'

In [ ]:
f.read()   #--> because cursor is at last position it returns none

''

In [ ]:
# we need to reset cursor positon before we read again from file
f.seek(0)
f.read()

'Hello This is shantayya, executing file moduel in python'

In [ ]:
f.tell() #--> tell me position of cursor

56

In [ ]:
!cat file1.txt

Hello world
shantayya
Hello
1
2
3

In [ ]:
f = open("file1.txt")    #---> r mode is default. r+ is read + write
f.read()    #--> reads all data set

'Hello world\nshantayya\nHello\n1\n2\n3\n'

In [ ]:
f.seek(0)
f.readline()    #--> reads one line at a time

'Hello world\n'

In [ ]:
f.readline()

'shantayya\n'

In [ ]:
# if we want to rad file in proper format then we can use for loop
f.seek(0)
for i in f.read():
  print(i,end='')

Hello world
shantayya
Hello
1
2
3

In [ ]:
# read()             vs           readline()            vs readlines()
#reads all data              reads one line at a time    reads one line at a time and put that in list

In [ ]:
# we can calcuate number of lines by len function 
f = open("file1.txt","r+")
f.seek(0)
len(f.readlines())

6

In [ ]:
from collections import Counter
f = open("file1.txt","r+")
array = f.readlines()
print(Counter(array))
#print(array)
#print(array.count('shantayya\n'))

AttributeError: ignored

In [ ]:
%%writefile generator.txt
Generator functions allow you to declare a function that behaves like an iterator, i.e. it can be used in a for loop.

Simplified Code
The simplification of code is a result of generator function and generator expression support provided by Python.

To illustrate this, we will compare different implementations that implement a function, "firstn", that represents the first n non-negative integers, where n is a really big number, and assume (for the sake of the examples in this section) that each integer takes up a lot of space, say 10 megabytes each.

Note: Please note that in real life, integers do not take up that much space, unless they are really, really, really, big integers. For instance you can represent a 309 digit number with 128 bytes (add some overhead, it will still be less than 150 bytes).

First, let us consider the simple example of building a list and returning it.

Writing generator.txt

In [ ]:
f = open("generator.txt")
l = f.readlines()
print(l[0].split())  #---> gives first line words

['Generator', 'functions', 'allow', 'you', 'to', 'declare', 'a', 'function', 'that', 'behaves', 'like', 'an', 'iterator,', 'i.e.', 'it', 'can', 'be', 'used', 'in', 'a', 'for', 'loop.']

In [ ]:
list1 =[]
for i in l[0].split():
  list1.append(i[0])
print(list1)

Counter(list1)
# unique = []
# for i in list1:
#   if i not in unique:
#     unique.append(i)

# print(unique)

# for i in unique:
#   count = 0
#   count = list1.count(i)
#   print(i,count)

['G', 'f', 'a', 'y', 't', 'd', 'a', 'f', 't', 'b', 'l', 'a', 'i', 'i', 'i', 'c', 'b', 'u', 'i', 'a', 'f', 'l']

Counter({'G': 1,
         'f': 3,
         'a': 4,
         'y': 1,
         't': 2,
         'd': 1,
         'b': 2,
         'l': 2,
         'i': 4,
         'c': 1,
         'u': 1})

In [ ]:
f.close()

In [ ]:
!rm -rf generator.txt

In [ ]:
!ls -lrt *.txt

-rw-r--r-- 1 root root  34 Dec 15 04:40 file1.txt
-rw-r--r-- 1 root root 893 Dec 15 04:51 generator.txt

In [ ]:
# Exception handling
# because of error in code the subsequent code fails to execute and throws error so its always recoomended to handle exception
# exception handling ovly covers run time error but not compile time errors
l = [1,2,3,4,5,6,7,8]
for i in range(len(l)+1):
  print(l[i])

1
2
3
4
5
6
7
8

IndexError: ignored

In [ ]:
try:
  for i in range(len(l)+1):
    print(l[i])
except:                          # --> we can use Exception calss to print default error messages
  print("This is my code")

1
2
3
4
5
6
7
8
This is my code

In [ ]:
try:
  for i in range(len(l)+1):
    print(l[i])
except Exception as e:  #--> Exception is a superclass for all kind of errors
  print(e)
print("Exception handled by the code")

1
2
3
4
5
6
7
8
list index out of range
Exception handled by the code

In [ ]:
# write as many as try-except blocks to handle code issues because it will not increase time complexity 
# try-except-else --> else block wil get called only when try block is executed successfully. 
try:
  f = open("try.txt", "w")
  f.write("I am writing code to try.txt")
except Exception as e:
  print(e)
else:
  print("Code has been written to File")
  f.close()

Code has been written to File

In [ ]:
try:
  f = open("try.txt", "r")
  f.write("Hey, adding line to try.txt")
except Exception as e:
  print(e)
else:
  print("Code has appended to try.txt")
  f.close()

not writable

In [ ]:
# finaly block--> will executed no matter what happens to try and except
try: 
  f = open("finally.txt", "w")
  f.write("Adding line to finally")
except Exception as e:
  print(e)
else:
  print("call this on execution of try block")
finally: 
  print("This block will always execute")
  f.close()

In [5]:
def askint():
  while True:
   try:
      a = int(input())
   except:
     print("Only Integers are accepted")
#     continue     
   else:
     print("Thanks for input integer")
     break

In [6]:
askint()

1qw
Only Integers are accepted
12
Thanks for input integer

In [7]:
# Raise our own exception 
def test(n):
  if n < 0:
    raise Exception("Number is -negative",n)
  return n

In [9]:
try:
  test(-9)
except Exception as e:
  print(e)

('Number is -negative', -9)