<a href="https://colab.research.google.com/github/Shantayya/Python-Projects/blob/main/Scaler_Python_Beginner_Refresher_Batch2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [ ]:
print('Hello World')

Hello World

In [ ]:
print(10+20)

30

In [ ]:
print('10+20')

10+20

In [ ]:
 ## Comment

In [ ]:
a = 10.0
print(type(int(a)))

<class 'int'>

In [ ]:
print(int(a))

10

In [ ]:
print?

In [ ]:
# day1 
# data types (int, float, string, boolean)
# type casting
# sep and end (in print syntax)
# var 
# input()
# day1 Assignment

In [ ]:
A = input("Please enter number A: ")
B = input("Please neter number B: ")
print(A,B, sep='')

Please enter number A: 10
 Please neter number B: 20
1020

In [ ]:
A = input()
B = input()
print( A, "says Hi to", B)

ram
Shyam
ram says Hi to Shyam

In [ ]:
A = input()
print("Hello ", A)

Ram
Hello  Ram

In [ ]:
print('A','B', 'C', 'D', 'E',sep="\n")

A
B
C
D
E

In [ ]:
A = int(input("Provude time (in minutes), the lasagna has been in the oven"))
print("Lasagna needs", 40-A, "more minutes to bake")

Provude time (in minutes), the lasagna has been in the oven10
Lasagna needs 30 more minutes to bake

In [ ]:
# Day2
# Arithmatic operators (Add,sub,mul,div,mod, floor div (//), power (**))
# int/float + bool = int/float
# str + bool = error
# str - str = error
# str * int = str example: "hello" * 3 = hellohellohello
# floor div => 3/2 = 1.5 so answer is 1  -> 3//2 =1

# comparison operator(==, !=) can compare anything with anything.
#  <, >, <=, >= str cannnot be compared with int using <, >, <=, >=
#  and , or and not (unary) operator
# not F = True, not true = False 

# conditional statement (if, else, elif)
# operator hierarchy
# (), **, (*,/,//,% left to right), (+,-), (==, !=), (<, <=, >, >==), not, and, or

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output
    A = int(input())
    B = int(input())
    if (A > B):
        print(A)
    else:
        print(B)

    return 0

if __name__ == '__main__':
    main()

10
9
10

In [ ]:
print("1" == 1)

False

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output
    A = eval(input())
    value = 1
    count = 1
    while count <= 10:
        value = A * count
        print(A, "*", count, "=", value, sep=' ')
        count += 1
    return 0

if __name__ == '__main__':
    main()

6.5
6.5 * 1 = 6.5
6.5 * 2 = 13.0
6.5 * 3 = 19.5
6.5 * 4 = 26.0
6.5 * 5 = 32.5
6.5 * 6 = 39.0
6.5 * 7 = 45.5
6.5 * 8 = 52.0
6.5 * 9 = 58.5
6.5 * 10 = 65.0

In [ ]:
    # YOUR CODE GOES HERE
    m1 = int(input())
    m2 = int(input())
    m3 = int(input())
    m4 = int(input())
    m5 = int(input())
    per = 0.0
    total = m1 + m2 + m3 + m4 + m5
    per = int((total/500)*100)
    if (per >= 90):
        print("A")
    elif (per >= 80):
        print("B")
    elif (per >= 70):
        print("C") 
    elif (per >= 60):
        print("D") 
    elif (per >=40):
        print("E")
    elif (per < 40):
        print("F")

50
60
70
80
90
C

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output
    A = (3+4) // 2+6
    print(A)
    return 0

if __name__ == '__main__':
    main()

9

In [ ]:
#Day3 control statement
# while loop
# eval funtion is used for dynamic typecasting

In [ ]:
import sys
sys.version

'3.7.15 (default, Oct 12 2022, 19:14:55) \n[GCC 7.5.0]'

In [ ]:
sys.builtin_module_names

('_abc',
 '_ast',
 '_bisect',
 '_blake2',
 '_codecs',
 '_collections',
 '_datetime',
 '_elementtree',
 '_functools',
 '_heapq',
 '_imp',
 '_io',
 '_locale',
 '_md5',
 '_operator',
 '_pickle',
 '_posixsubprocess',
 '_random',
 '_sha1',
 '_sha256',
 '_sha3',
 '_sha512',
 '_signal',
 '_socket',
 '_sre',
 '_stat',
 '_string',
 '_struct',
 '_symtable',
 '_thread',
 '_tracemalloc',
 '_warnings',
 '_weakref',
 'array',
 'atexit',
 'binascii',
 'builtins',
 'cmath',
 'errno',
 'faulthandler',
 'fcntl',
 'gc',
 'grp',
 'itertools',
 'marshal',
 'math',
 'posix',
 'pwd',
 'pyexpat',
 'select',
 'spwd',
 'sys',
 'syslog',
 'time',
 'unicodedata',
 'xxsubtype',
 'zipimport',
 'zlib')

In [ ]:
import os
print(os.name)

posix

In [ ]:
os.mkdir("/content/shantayya")

FileExistsError: ignored

In [ ]:
os.getcwd()

'/'

In [ ]:
os.chdir("..")

In [ ]:
#day4 
# ()- exlcusive []- inclusive
# (0-5) mean 1,2,3,4  [1,5]- means 1,2,3,4,5
# range(n) - returns numbers from 0 to n-1 example: range(5) -> 0,1,2,3,4
# range(start, end) - returns a seq from start til end-1 with jump +1 example: range(1,5) -> 1,2,3,4
# range(start,end,jump) -> returns a seq from start til end-1 with jump specified. example: range(2,10,2) -> 2,4,6,8
# example: range(1,5,-1) -> does nothing
# iterable: range, enumerate, list, set, disctionary etc. we need iterator to print iterables
# iterables: a container of seq in python Iterator -> variable which holds current value

# Note: range() is used for int only

# for iterabtor in iterable:  example: for i in range(5): print(i, end=' ')
# Homework: 
# 1. print the digit 469 in the same order
# 2. print  * * * * *
#           * * * *
#           * * *
#           * * 
#           *
# 3. reverse staircase pattern
#                *
#              * *
#            * * *
#          * * * *
#        * * * * *      
# diff btween while and for loop
# for loop              vs        while loop
# not generic                     generic. can do many things as what for loop do. but vice versa is not possible
# easy                            not that much easy
# run for entire range             based on condition

In [ ]:
for i in range(1,5):
  if i%2 == 0:
    pass    # pass is just a filler. wont do anything. if we write continue then it will skip the 2 and 4
  print(i)

1
2
3
4

In [ ]:
x = 2
for i in range(0, 4):
  if x%2:
    x = x*2
    print(x)
  else:
    x = x+1
    print(x)

3
6
7
14

In [ ]:
x = 1
for i in range(x):
  x = x + 1
  print(i, end=' ')

0

In [ ]:
 a = 0
 while True:
   a = a + 5
   a %= 5
   a = a + 5
   if a == 5:
     break

In [ ]:
row = int(input())
col = int(input())

for i in range(row, 0, -1):
  for j in range(i):
    print("*", end=' ')
  print()

5
5
* * * * *
* * * *
* * *
* *
*

In [ ]:
row = int(input())
col = int(input())

for i in range(row):
  for j in range(col-i):
      print(' ',end=' ')
  print('*')

2
2
    *
  *

In [ ]:
N = int(input())
q = N//10
N %= 10
print(q, N, sep='')

12345
12345

In [ ]:
N = int(input())
num = N
count = 0
while N > 0:
  num = N % 10
  N = N // 10
  print(num,end='')
  count += 1
print('\n',count)

1234
4321
 4

In [ ]:
A = int(input())
if (A%400 == 0):
  print("leap")
elif (A%100 == 1) and (A%4 == 0):
  print("leap")
else:
  print("not")

500
not

In [ ]:
 N = int(input())
 for i in range(1,N+1):
     for j in range(1,i+1):
        print(j,end=' ')
     print()

50
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10 11
1 2 3 4 5 6 7 8 9 10 11 12
1 2 3 4 5 6 7 8 9 10 11 12 13
1 2 3 4 5 6 7 8 9 10 11 12 13 14
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [ ]:
    N = int(input())
    for i in range(N+1, 1, -1):
        for j in range(1,i):
            print(j,end=' ')
        print()

4
1 2 3 4
1 2 3
1 2
1

In [ ]:
    N = int(input())
    for j in range(N):
        for i in range(N+1):
           if i in range(N-j):
             print(end=' ')
           else:
             print("*",end='')
        print()

4
    *
   **
  ***
 ****

In [ ]:
i=0
while i<=5:
     if i%2:
        pass
     else:
        print(i, end=" ")
     i+=1

0 2 4

In [ ]:
i=2
if i==2:
    i+=1
for j in range(i):
    i+=1
    pass
    break

print(i)

6

In [ ]:
n=8
while n>=0:
   n -= 2
   if n%2==0:
       continue
   print(n, end=" ")
#else:
#   print("Exec", end=" ")

In [ ]:
x = int(input())
y = int(input())
q, r = 0, 0

while x>=y:
    x-=y
    q+=1
print(q, x)

5
2
2 1

In [ ]:
i=0
if i==0:
   pass
   print(i, end=" ")
i+=1
print(i, end=" ")

0 1

In [ ]:
    T = int(input())
    for i in range(T):
        count = 1
        j = int(input())
        while j >= 10:
          j //= 10
          count += 1
        print("count", count)

2
555502
count 6
555502
count 6

In [ ]:
    T = int(input())
    for i in range(T):
        sum = 0
        I = int(input())
        while I > 0:
            r = I % 10
            I //= 10
            sum += r
        print(sum)

1
15281
17

In [1]:
# day 5 functions
# argument -> what is been passed while calling a function is called argument
# parameter -> variable been used in function and which is used to store the value 

#Note: while passing the arrugment dev should be aware of order of passing parameter.
# scope of varibale is limited to function only. outside when refernced it will throw error. 
# you can't have default argument before non-default argument example: def example(a,b,c=20,d) --> not allowed  def example(b,c,a=20)--> allowed
# in above function parameter b,c -> non default argument and c=20 is default argument

# while calling --> def example(a, b, c=10) --> abc are positional arguments where as example(10, b=50, c=50) --> here b and c are keyword arguments
# here keyword argument can't come before positional argument.

# function execution stops at return statement like break in for loop
# 1. is_prime(n) or not with return statement

In [2]:
def call_name(name, age):
  print(name, age)

call_name(23,"mohit")

23 mohit

In [3]:
def convert(t):
    return t*9/5 + 32

print(convert(20))

68.0

In [6]:
def celsius_farhen(Celsius):
    ans = Celsius*9/5 + 32
    return round(ans,2)

In [5]:
celsius_farhen(30)

86.0

In [15]:
def simple_int(time,pa,ir):
    ''' time, pa, ir represents the time in number of days, principal amount and rate of interest
        Return the simple interest'''
    ans = 0
    # YOUR CODE GOES HERE
    years = (time / 365) + (time % 365)
    print(years)
    SI = (pa * ir * years)/100
    ans = SI + pa

    return round(ans,2)

In [16]:
simple_int(365,9172,5.6)

1.0

9685.63

In [17]:
def road_tax(price):
    tax = None
    # YOUR CODE GOES HERE
    if price > 100000:
      tax = price * (20/100)
      return round(tax,1)
    elif price > 75000 and price <= 100000:
      tax = price * (15/100)
      return round(tax,1)
    elif price > 50000 and price <= 75000:
      tax = price * (10/100)
      return round(tax,1)
    elif price <= 50000:
      tax = price * (5/100)
      return round(tax,1)

In [18]:
road_tax(25000)

1250.0

In [19]:
def sequence(n):
    '''input: n = A single integer for the range where n is inclusive
       output: First Print from 1 to N and new line Print from N to 1'''
    for i in range(1,n+1):
        print(i, end=' ')
    print()
    print()
    for j in range(n,0,-1):
      print(i, end=' ')

In [20]:
sequence(5)

1 2 3 4 5

5 5 5 5 5

In [25]:
def is_prime(n):
  for i in range(2,n):
    if n%i == 0:
      print("not prime")
      return 0
    else:
      print("prime")
      return 0

In [27]:
is_prime(91)

prime

0

In [29]:
def swap(a,b):
  print('a=', a,'b=', b)
  a = a + b
  b = a- b
  a = a- b
  print('a=', a, 'b=', b)

In [30]:
swap(2,3)

a= 2 b= 3
a= 3 b= 2

In [59]:
def armstrong(n):
  count = 0
  r, rem = 0, 0
  sum = 0
  num, number = n, n
  while n > 0:
    r = n % 10
    n = n // 10
    count += 1

  while num > 0:
    rem = num % 10
    num = num // 10
    sum += (rem**count)

  if number == sum:
    print("Armstrong")
  else:
    print("Not Armstrong")

In [60]:
armstrong(153)

Armstrong

In [171]:
def pattern(n):
  for i in range(n):
    if i <= 1 or i == n-1:
      for j in range(i+1):
          print("*",end=' ')
      print()
    else:
      for j in range(i+1):
        if j == 0:
          print("*", end=' ')
        else:
          print(end=' ')
      print()

In [172]:
pattern(5)

*
* *
*
*
* * * * *