<a href="https://colab.research.google.com/github/Shantayya/Python-Projects/blob/main/Scaler_Python_Beginner_Refresher_Batch2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [ ]:
print('Hello World')

Hello World

In [ ]:
print(10+20)

30

In [ ]:
print('10+20')

10+20

In [ ]:
 ## Comment

In [ ]:
a = 10.0
print(type(a))

<class 'float'>

In [ ]:
print(int(a))

10

In [ ]:
print?

In [ ]:
# day1 
# data types (int, float, string, boolean)
# type casting
# sep and end (in print syntax)
# var 
# input()
# day1 Assignment

In [ ]:
A = input("Please enter number A: ")
B = input("Please neter number B: ")
print(A,B, sep='')

Please enter number A: 10
 Please neter number B: 20
1020

In [ ]:
A = input()
B = input()
print( A, "says Hi to", B)

ram
Shyam
ram says Hi to Shyam

In [ ]:
A = input()
print("Hello ", A)

Ram
Hello  Ram

In [ ]:
print('A','B', 'C', 'D', 'E',sep="\n")

A
B
C
D
E

In [ ]:
A = int(input("Provude time (in minutes), the lasagna has been in the oven"))
print("Lasagna needs", 40-A, "more minutes to bake")

Provude time (in minutes), the lasagna has been in the oven10
Lasagna needs 30 more minutes to bake

In [ ]:
# Day2
# Arithmatic operators (Add,sub,mul,div,mod, floor div (//), power (**))
# int/float + bool = int/float
# str + bool = error
# str - str = error
# str * int = str example: "hello" * 3 = hellohellohello
# floor div => 3/2 = 1.5 so answer is 1  -> 3//2 =1

# comparison operator(==, !=) can compare anything with anything.
#  <, >, <=, >= str cannnot be compared with int using <, >, <=, >=
#  and , or and not (unary) operator
# not F = True, not true = False 

# conditional statement (if, else, elif)
# operator hierarchy
# (), **, (*,/,//,% left to right), (+,-), (==, !=), (<, <=, >, >==), not, and, or

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output
    A = int(input())
    B = int(input())
    if (A > B):
        print(A)
    else:
        print(B)

    return 0

if __name__ == '__main__':
    main()

10
9
10

In [ ]:
print("1" == 1)

False

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output
    A = eval(input())
    value = 1
    count = 1
    while count <= 10:
        value = A * count
        print(A, "*", count, "=", value, sep=' ')
        count += 1
    return 0

if __name__ == '__main__':
    main()

6.5
6.5 * 1 = 6.5
6.5 * 2 = 13.0
6.5 * 3 = 19.5
6.5 * 4 = 26.0
6.5 * 5 = 32.5
6.5 * 6 = 39.0
6.5 * 7 = 45.5
6.5 * 8 = 52.0
6.5 * 9 = 58.5
6.5 * 10 = 65.0

In [ ]:
    # YOUR CODE GOES HERE
    m1 = int(input())
    m2 = int(input())
    m3 = int(input())
    m4 = int(input())
    m5 = int(input())
    per = 0.0
    total = m1 + m2 + m3 + m4 + m5
    per = int((total/500)*100)
    if (per >= 90):
        print("A")
    elif (per >= 80):
        print("B")
    elif (per >= 70):
        print("C") 
    elif (per >= 60):
        print("D") 
    elif (per >=40):
        print("E")
    elif (per < 40):
        print("F")

50
60
70
80
90
C

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output
    A = (3+4) // 2+6
    print(A)
    return 0

if __name__ == '__main__':
    main()

9

In [ ]:
#Day3 control statement
# while loop
# eval funtion is used for dynamic typecasting

In [ ]:
import sys
sys.version

'3.7.15 (default, Oct 12 2022, 19:14:55) \n[GCC 7.5.0]'

In [ ]:
sys.builtin_module_names

('_abc',
 '_ast',
 '_bisect',
 '_blake2',
 '_codecs',
 '_collections',
 '_datetime',
 '_elementtree',
 '_functools',
 '_heapq',
 '_imp',
 '_io',
 '_locale',
 '_md5',
 '_operator',
 '_pickle',
 '_posixsubprocess',
 '_random',
 '_sha1',
 '_sha256',
 '_sha3',
 '_sha512',
 '_signal',
 '_socket',
 '_sre',
 '_stat',
 '_string',
 '_struct',
 '_symtable',
 '_thread',
 '_tracemalloc',
 '_warnings',
 '_weakref',
 'array',
 'atexit',
 'binascii',
 'builtins',
 'cmath',
 'errno',
 'faulthandler',
 'fcntl',
 'gc',
 'grp',
 'itertools',
 'marshal',
 'math',
 'posix',
 'pwd',
 'pyexpat',
 'select',
 'spwd',
 'sys',
 'syslog',
 'time',
 'unicodedata',
 'xxsubtype',
 'zipimport',
 'zlib')

In [ ]:
import os
print(os.name)

posix

In [ ]:
os.mkdir("/content/shantayya")

FileExistsError: ignored

In [ ]:
os.getcwd()

'/'

In [ ]:
os.chdir("..")

In [ ]:
#day4 
# ()- exlcusive []- inclusive
# (0-5) mean 1,2,3,4  [1,5]- means 1,2,3,4,5
# range(n) - returns numbers from 0 to n-1 example: range(5) -> 0,1,2,3,4
# range(start, end) - returns a seq from start til end-1 with jump +1 example: range(1,5) -> 1,2,3,4
# range(start,end,jump) -> returns a seq from start til end-1 with jump specified. example: range(2,10,2) -> 2,4,6,8
# example: range(1,5,-1) -> does nothing
# iterable: range, enumerate, list, set, disctionary etc. we need iterator to print iterables
# iterables: a container of seq in python Iterator -> variable which holds current value

# Note: range() is used for int only

# for iterabtor in iterable:  example: for i in range(5): print(i, end=' ')
# Homework: 
# 1. print the digit 469 in the same order
# 2. print  * * * * *
#           * * * *
#           * * *
#           * * 
#           *
# 3. reverse staircase pattern
#                *
#              * *
#            * * *
#          * * * *
#        * * * * *      
# diff btween while and for loop
# for loop              vs        while loop
# not generic                     generic. can do many things as what for loop do. but vice versa is not possible
# easy                            not that much easy
# run for entire range             based on condition

In [ ]:
for i in range(1,5):
  if i%2 == 0:
    pass    # pass is just a filler. wont do anything. if we write continue then it will skip the 2 and 4
  print(i)

1
2
3
4

In [ ]:
x = 2
for i in range(0, 4):
  if x%2:
    x = x*2
    print(x)
  else:
    x = x+1
    print(x)

3
6
7
14

In [ ]:
x = 1
for i in range(x):
  x = x + 1
  print(i, end=' ')

0

In [ ]:
 a = 0
 while True:
   a = a + 5
   a %= 5
   a = a + 5
   if a == 5:
     break

In [ ]:
row = int(input())
col = int(input())

for i in range(row, 0, -1):
  for j in range(i):
    print("*", end=' ')
  print()

5
5
* * * * *
* * * *
* * *
* *
*

In [ ]:
row = int(input())
col = int(input())

for i in range(row):
  for j in range(col-i):
      print(' ',end=' ')
  print('*')

4
4
        *
      *
    *
  *

In [ ]:
N = int(input())
q = N//10
N %= 10
print(q, N, sep='')

12345
12345

In [ ]:
N = int(input())
num = N
count = 0
while N > 0:
  num = N % 10
  N = N // 10
  print(num,end='')
  count += 1
print('\n',count)

1234
4321
 4

In [ ]:
A = int(input())
if (A%400 == 0):
  print("leap")
elif (A%100 == 1) and (A%4 == 0):
  print("leap")
else:
  print("not")

500
not

In [ ]:
 N = int(input())
 for i in range(1,N+1):
     for j in range(1,i+1):
        print(j,end=' ')
     print()

50
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10 11
1 2 3 4 5 6 7 8 9 10 11 12
1 2 3 4 5 6 7 8 9 10 11 12 13
1 2 3 4 5 6 7 8 9 10 11 12 13 14
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [ ]:
    N = int(input())
    for i in range(N+1, 1, -1):
        for j in range(1,i):
            print(j,end=' ')
        print()

4
1 2 3 4
1 2 3
1 2
1

In [ ]:
    N = int(input())
    for j in range(N):
        for i in range(N+1):
           if i in range(N-j):
             print(end=' ')
           else:
             print("*",end='')
        print()

4
    *
   **
  ***
 ****

In [ ]:
i=0
while i<=5:
     if i%2:
        pass
     else:
        print(i, end=" ")
     i+=1

0 2 4

In [ ]:
i=2
if i==2:
    i+=1
for j in range(i):
    i+=1
    pass
    break

print(i)

6

In [ ]:
n=8
while n>=0:
   n -= 2
   if n%2==0:
       continue
   print(n, end=" ")
#else:
#   print("Exec", end=" ")

In [ ]:
x = int(input())
y = int(input())
q, r = 0, 0

while x>=y:
    x-=y
    q+=1
print(q, x)

5
2
2 1

In [ ]:
i=0
if i==0:
   pass
   print(i, end=" ")
i+=1
print(i, end=" ")

0 1

In [ ]:
    T = int(input())
    for i in range(T):
        count = 1
        j = int(input())
        while j >= 10:
          j //= 10
          count += 1
          print(j)
        print("count", count)

1
1212121
121212
12121
1212
121
12
1
count 7

In [ ]:
    T = int(input())
    for i in range(T):
        sum = 0
        I = int(input())
        while I > 0:
            r = I % 10
            I //= 10
            sum += r
        print(sum)

1
15281
17

In [ ]:
# day 5 functions
# argument -> what is been passed while calling a function is called argument
# parameter -> variable been used in function and which is used to store the value 

#Note: while passing the arrugment dev should be aware of order of passing parameter.
# scope of varibale is limited to function only. outside when refernced it will throw error. 
# you can't have default argument before non-default argument example: def example(a,b,c=20,d) --> not allowed  def example(b,c,a=20)--> allowed
# in above function parameter b,c -> non default argument and c=20 is default argument

# while calling --> def example(a, b, c=10) --> ab are positional arguments where as example(10, b=50, c=50) --> here b and c are keyword arguments
# here keyword argument can't come before positional argument.

# *arg --> used to pass varble number of non-keyword argument to function. *arg non-ketword arguments are tuples.
# **kwargs --> used to pass varibale number of keyword arguments to function. **kwargs which are keyword arguments are dict.
# int are not allowed to pass as keys kwargs. they must be strings

# function execution stops at return statement like break in for loop
# 1. is_prime(n) or not with return statement

In [ ]:
def call_name(name, age):
  print(name, age)

call_name(23,"mohit")

23 mohit

In [ ]:
def call_names(**kwargs):
  for keys, values in kwargs.items():
    print(keys,'=', values)

call_names(age=29,name="Shantaya")

age = 29
name = Shantaya

In [ ]:
def convert(t):
    return t*9/5 + 32

print(convert(20))

68.0

In [ ]:
def celsius_farhen(Celsius):
    ans = Celsius*9/5 + 32
    return round(ans,2)

In [ ]:
celsius_farhen(30)

86.0

In [ ]:
def simple_int(time,pa,ir):
    ''' time, pa, ir represents the time in number of days, principal amount and rate of interest
        Return the simple interest'''
    ans = 0
    # YOUR CODE GOES HERE
    years = (time / 365) + (time % 365)
    print(years)
    SI = (pa * ir * years)/100
    ans = SI + pa

    return round(ans,2)

In [ ]:
simple_int(365,9172,5.6)

1.0

9685.63

In [ ]:
def road_tax(price):
    tax = None
    # YOUR CODE GOES HERE
    if price > 100000:
      tax = price * (20/100)
      return round(tax,1)
    elif price > 75000 and price <= 100000:
      tax = price * (15/100)
      return round(tax,1)
    elif price > 50000 and price <= 75000:
      tax = price * (10/100)
      return round(tax,1)
    elif price <= 50000:
      tax = price * (5/100)
      return round(tax,1)

In [ ]:
road_tax(25000)

1250.0

In [ ]:
def sequence(n):
    '''input: n = A single integer for the range where n is inclusive
       output: First Print from 1 to N and new line Print from N to 1'''
    for i in range(1,n+1):
        print(i, end=' ')
    print()
    print()
    for j in range(n,0,-1):
      print(i, end=' ')

In [ ]:
sequence(5)

1 2 3 4 5

5 5 5 5 5

In [ ]:
def is_prime(n):
  for i in range(2,n):
    if n%i == 0:
      print("not prime")
      return 0
    else:
      print("prime")
      return 0

In [ ]:
is_prime(91)

prime

0

In [ ]:
def swap(a,b):
  print('a=', a,'b=', b)
  a = a + b
  b = a- b
  a = a- b
  print('a=', a, 'b=', b)

In [ ]:
swap(2,3)

a= 2 b= 3
a= 3 b= 2

In [ ]:
def armstrong(n):
  count = 0
  r, rem = 0, 0
  sum = 0
  num, number = n, n
  while n > 0:
    r = n % 10
    n = n // 10
    count += 1

  while num > 0:
    rem = num % 10
    num = num // 10
    sum += (rem**count)

  if number == sum:
    print("Armstrong")
  else:
    print("Not Armstrong")

In [ ]:
armstrong(153)

Armstrong

In [ ]:
def pattern(n):
  for i in range(n):
    for j in range(n):
      if j == 0 or i == (n-1) or i == j:
        print("*", end='')
      else:
        print(end=" ")
    print()

def ulta_pattern(n):
  for i in range(n):
    for j in range(n):
      if i == 0 or j == (n-1) or i == j:
        print("*", end='')
      else:
        print(end=" ")
    print()

In [ ]:
ulta_pattern(5)

*****
 *  *
  * *
   **
    *

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output
    T = int(input())
    last, first, j = 0, 0, 0
    count = 0
    for i in range(T):
        j = int(input())
        num = j
        
        while j > 0:
          first = j % 10
          j = j // 10
          count += 1
          break
#        print(first)

        while j > 0:
          last = j % 10
          j = j // 10
          count += 1

        if count == 1:
          print(first, first, sep=' ')  
        else:
          print(last, first, sep=' ')      
    return 0

if __name__ == '__main__':
    main()

1
1
1 1

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output
    T = int(input())
    last, first, j = 0, 0, 0
    for i in range(T):
        j = int(input())
        
        while j > 0:
            last = j % 10
            j = j // 10
            break
        
        while j > 0:
            first = j % 10
            j = j // 10

        print(first, last, sep=' ')
    return 0

if __name__ == '__main__':
    main()

1
29473
2 3

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output
    T = int(input())
    last, first, j = 0, 0, 0

    for i in range(T):
        count = 0
        j = int(input())
        
        while j > 0:
            last = j % 10
            j = j // 10
            count += 1
            break
        
        while j > 0:
            first = j % 10
            j = j // 10
            count += 1
        
        if count == 1:
            print(last, last, sep=' ')
        else:
            print(first, last, sep=' ')
    return 0

if __name__ == '__main__':
    main()

2
1
1 1
2
2 2

In [ ]:
class Solution:
    def solve(self, A):
        q, r, sum, = 0, 0, 0
        count = 0
        num, arm = A, A
        while A > 0:
            A = A // 10
            count += 1
        
        while num > 0:
            q = num % 10
            num = num // 10
            sum += (q**count)
        
        if sum == arm:
            return 1
        else:
            return 0

In [ ]:
obj = Solution()

In [ ]:
obj.solve(123)

0

In [ ]:
def ulta_pyramid(n):
  for i in range(n, 0, -1):
    space = (n+1) - i
    for j in range(i):
      print("*", end=' ')
    print()
    for k in range(space):
      print(end=' ')

In [ ]:
ulta_pyramid(5)

* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
# day6 - List -> ordered collection of elements
# indexing in list-> for a list with n elements we have n-1 index + index are always integers
# index start with 0,1,2,3,...etc
# python gives reverse index like -1(last element),-2,-3,....etc 

# reverse index-7    -6    -5    -4    -3    -2    -1
#list           A     B     C     D     E     F     G
# indexing      0     1     2     3     4     5     6

# updating index in the list   students.append("Shantayya") or students[2]="shan"
#iteration through list -> for index in range(0,7) -> print(index)

In [ ]:
students = ["Shan", "Shnkar", "Somnath", "Rahul", "Dayal"]

In [ ]:
students.pop()
print(students)

['Shan', 'Somnath', 'Rahul']

In [ ]:
students.append("Swami")
print(students)

['Shan', 'Somnath', 'Rahul', 'Swami', 'Swami']

In [ ]:
for i in students:
  print(i)

Shan
Somnath
Rahul
Swami

In [ ]:
# print names starting from first
length = len(students)
for i in range(length):
  if i%2 != 0:
    print(students[i])

Somnath
Swami

In [ ]:
# funtions in list
# del list[index]
# list.count(value) --> gives count of value repeated in list 
# len(), append(), insert(index,value,insertbefore), pop(default last), remove()--> it will remove value but wil not return anything + it always remove first value
students.insert(4,"somnshanlkar")

In [ ]:
print(students)

['Shan', 'Somnath', 'Rahul', 'Swami', 'somnshanlkar', 'Swami']

In [ ]:
#if we put index which does not exist then it wil insert after last index which is before given index
#for example:  we have index 0,1,2,3,4,5 in students if we do students.insert(100,"last") --> then it will insert after 5th index which is before 100
students.insert(100,"last") 
print(students)
students.insert(-100,"first")   #--> -1 shows first index from right
print(students)

['Shan', 'Somnath', 'Rahul', 'Swami', 'somnshanlkar', 'Swami', 'last', 'first', 'last', 'last']
['first', 'Shan', 'Somnath', 'Rahul', 'Swami', 'somnshanlkar', 'Swami', 'last', 'first', 'last', 'last']

In [ ]:
# reverse() -> does not take any argument or return anything but reverses the whole list
students.reverse()
print(students)

['last', 'last', 'first', 'last', 'Swami', 'somnshanlkar', 'Swami', 'Rahul', 'Somnath', 'Shan', 'first']

In [ ]:
# + operator -> used to merge the list or join two lists
staff = ["teacher", "peaun", "cleaner", "headmaster"]
college = students + staff
print(college)

['last', 'last', 'first', 'last', 'Swami', 'somnshanlkar', 'Swami', 'Rahul', 'Somnath', 'Shan', 'first', 'teacher', 'peaun', 'cleaner', 'headmaster']

In [ ]:
# extend() --> used to add nw list to existing one
students.extend(staff)
print(students)

['last', 'last', 'first', 'last', 'Swami', 'somnshanlkar', 'Swami', 'Rahul', 'Somnath', 'Shan', 'first', 'teacher', 'peaun', 'cleaner', 'headmaster']

In [ ]:
# in operator --> return bool value if value exists in list
print("shan" in students)  # python is case sensitive language so shan != Shan
print("Shan" in students)

False
True

In [ ]:
# split(seperator) --> used to split words from sentence and returns as list
sentence = "This is Shantayya from Pune"
words = sentence.split(" ")
print(*words)

This is Shantayya from Pune

In [ ]:
# how to take list as input 1. we can use for loop 2. we can use split function and then print list
name = []
for i in range(5):
  name.append(input())
print(name)

1
shantayya
swami
shankar
somnath
['1', 'shantayya', 'swami', 'shankar', 'somnath']

In [ ]:
name = input()
name = names.split(",")
print(name)

shantayya,sonnath,som,shankar
['shnatayya', 'shankar', 'somnath', 'swami']

In [ ]:
def calculate_sum(input_list):
    # Write your code here, no need to take input
    # Input argument: input_list
    # Return: sum of elements in input_list

    sum = 0
    A = []
    for i in input_list:
        A.append(int(i))
    
    for i in A:
      sum += i
    print(sum)

In [ ]:
calculate_sum(input().split(" "))

1 2 3 4
10

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output

    A = int(input())
    array = list(map(int, input().split()[:A]))
    
#    for i in range(len(array)):
#       array[i] = int(array[i])
    
    index = int(input())
    array.pop(index-1)
#    [print(i, end=' ') for i in array]
    print(array)

    return 0

if __name__ == '__main__':
    main()

4
20 100 300
2
[20, 300]

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output
    array = input().split(" ")
    x = int(input())
    y = int(input())

    array.insert(y,x)
    print(array)
    return 0

if __name__ == '__main__':
    main()

1 2 3 4 5
6
5
['1', '2', '3', '4', '5', 6]

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output
    A = list(int(i) for i in input().split())
    A.reverse()
    #[print(i,end=' ') for i in A]
    print(*A)
    return 0

if __name__ == '__main__':
    main()

100 200 300 400 500 600 90
90 600 500 400 300 200 100

In [ ]:
def first_multiple(ls,x):
    ans = -1
    ''' input:ls-List of elements and x-indicates the integer
         output:Return ans from the list that is divisible by x'''
    is_multiple = False
    # YOUR CODE GOES HERE
    for i in ls:
      if i%x == 0:
        is_multiple = True
        break
    
    if is_multiple == True:
      print(i)
    else:
      return ans

In [ ]:
A = [1, 2, 4, 5, 6]
x = 4
first_multiple(A, x)

4

In [ ]:
x = [1, 2]
y = [2, 3]

for i in x:
    for j in y:
        print(i, j, end= " ")

1 2 1 3 2 2 2 3

In [ ]:
# day 7 list-II
# for -else or while-else
# use list.index(val) --> to print index at which number is found -> returns the fist occuance of value

In [ ]:
# check given item exists in list
A = int(input())
array = [1, 2, 3, 4]

if A in array:
    print("found at",array.index(A))
else:
    print("Not Found")

4
found at 3

In [ ]:
A = int(input())
array = (int(i) for i in input().split())
found = False
for item in array:
  if A is item:
    print("Found")
    found = True
    break
if (not found):
  print("Not found")

2
1 2 3 4
Found

In [ ]:
# enumerate function: works like range function however it accepts index, iterable
A = int(input())
array = (int(i) for i in input().split())

for index, marks in enumerate(array):
  if marks == A:
    print("found at", index)
    break
else:
  print("Not Found")

2
1 2 3 4 5
found at 1

In [ ]:
# built in functions max(iterable or variables) min(iterables), sum(iterbales) --> does not work with empty list
Array = (int(i) for i in input().split())
print(max(Array))

1 2 3 4 100 900 8190
8190

In [ ]:
# sliciing -> sub array or sb sequence list[start:end] --> default values are start-> 0, end-1-> len(list), jump -> +1 and end is exlusive
# example: list [1,2,3,4]
# list[1:3] --> [2,3]  --> slicing always returns list []
# note: slicing never includes -ve to +ve or +ve to -ve   --> list[-1,4]

In [ ]:
slicing = [1,2,3,4,5]
print(slicing[-1:2])   #--> if start is -ve and end - +ve then we will convern in eaither -ve or +ve so converting -1 index to +ve it will be 4

# +ve index     0  1   2   3   4
# list          1  2   3   4   5
#-ve index     -5 -4  -3  -2  -1

[]

In [ ]:
print(slicing[-50:200])  #--> whenever start is too low (start<-len(list)), slicing start with 0 and when end is too high then slicing goes till len or end-1 only.

[1, 2, 3, 4, 5]

In [ ]:
# slicing[::-1] --> whenever jump is -ve  and start and end is not given then slicing starts from right to left --> special reverse case
print(slicing[::-1])

[5, 4, 3, 2, 1]

In [ ]:
#assignment : right shift an array 
shift = [1,2,3,4,5]
a = shift.pop(0)
shift.append(a)
print(shift)

[2, 3, 4, 5, 1]

In [ ]:
array = [1,2,1,3,2]
print(array[1:] + array[0:1])

[2, 1, 3, 2, 1]

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output

    N = list(map(int,input().split()))
    N.pop(0)
    print(max(N), min(N), sep=' ')
    return 0

if __name__ == '__main__':
    main()

1000 461 503 925 377 559 119 46 260 381 100 268 123 794 514 590 941 116 242 973 319 325 725 569 46 550 897 608 527 727 932 25 539 434 301 915 344 419 961 603 799 312 223 273 106 88 863 398 556 456 370 874 780 446 794 825 996 43 784 522 769 715 898 659 501 198 574 844 969 886 799 767 549 373 40 6 460 254 404 15 709 125 240 840 571 34 16 566 76 799 439 196 514 336 854 366 885 779 209 853 664 7 972 213 379 363 570 191 616 973 205 676 98 445 515 20 830 530 585 905 680 375 100 545 62 305 910 946 84 471 151 99 477 122 311 208 484 233 398 99 205 954 774 654 750 640 673 579 521 609 483 200 983 934 97 44 591 6 342 674 476 492 772 305 613 435 864 448 667 613 546 223 566 671 877 316 310 549 246 830 510 81 381 492 14 477 888 604 835 581 629 310 72 401 966 36 835 829 483 853 441 380 75 359 50 303 26 711 852 271 892 713 351 624 204 717 101 443 672 935 23 301 596 446 53 562 833 239 742 667 91 535 46 165 245 447 468 270 509 671 892 400 383 243 24 938 311 476 733 982 762 107 634 357 553 686 270 737 924
996 6

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output
    N = int(input())
    array = list(map(int, input().split()[:N]))
    last = array.pop()
    array.insert(0,last)   
    print(array) 
    return 0

if __name__ == '__main__':
    main()

5
1 2 3 4 5 6
[5, 1, 2, 3, 4]

In [ ]:
languages=['C' , 'C++' ,'R', 'Python' , 'Java', 'Scala']
# del languages[-2]
languages.pop(4)
print(languages)

['C', 'C++', 'R', 'Python', 'Scala']

In [ ]:
word = "Scaler Data Science Course"
word_list = list(word)
print(word_list)
print(word_list[1:3])

['S', 'c', 'a', 'l', 'e', 'r', ' ', 'D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e', ' ', 'C', 'o', 'u', 'r', 's', 'e']
['c', 'a']

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output
    T = int(input())
    while T > 0:
      N = int(input())
      array = list(map(int,input().split()[:N]))
      B = int(input())
      for i in range(N):
        if array[i] == B:
            print("1")
            break
      else:
        print("0")
      T -= 1

if __name__ == '__main__':
    main()

2
5
1 2 3 4 5
1
1
3
1 2 3 4
6
0
0
0

In [ ]:
    def solve(A):
        maxx = max(A)
        second_large = 0
        if len(A) == 1:
          return -1
        for i in range(len(A)):
           if A[i] < maxx and A[i] > second_large:
                second_large = A[i]
        if second_large != 0:
          return second_large

In [ ]:
A = [ 81705, 56002, 87239, 11815, 31420, 38036, 62002, 69224, 67185, 75478, 42577, 79358 ]
B = [2]
solve(A)

81705

In [ ]:
# day 8: nested list
maths = [1,2,3,4,5]
english = [9,7,6,5,4]
cs = [2,1,2,1,3]
subjects = [maths, english, cs] # which means
#           stu0, stu1, stu2, stu3, stu4
subjects = [[1,   2,    3], 
            [9,   7,    6], #marks
            [2,   1,    2]] # -- which is 2D list
# to access marks of sudent 2 in maths subjects[0][2]
# no_rows = len(subjects)
# no_col = len(subjects[0])

In [ ]:
#row major form
# print row wise 1st row----> 2nd row -------> 3rd row---------->
for row in range(len(subjects)):
  for col in range(len(subjects[row])):
    print(subjects[row][col], end=' ')
  print()

1 2 3 4 5
9 7 6 5 4
2 1 2 1 3

In [ ]:
#col major form print col wise
for col in range(len(subjects[0])):
  for row in range(len(subjects)):
    print(subjects[row][col], end=' ')
  print()

1 9 2
2 7 1
3 6 2
4 5 1
5 4 3

In [ ]:
# taking input as nested list
def take_input_list():
  array = list(map(int,input().split()))
  return array

lst = []
row = int(input())
for i in range(row):
  lst.append(take_input_list())
print(lst)

5
1 2 3 4 5
21 3 4 56 100
100 2003 400 500 400
21 21 1 2 3
9 8 7 5 4 2
[[1, 2, 3, 4, 5], [21, 3, 4, 56, 100], [100, 2003, 400, 500, 400], [21, 21, 1, 2, 3], [9, 8, 7, 5, 4, 2]]

In [ ]:
#row wise sum
sum_list = []
for col in range(len(subjects[0])):
  sum = 0
  for row in range(len(subjects)):
    print(subjects[row][col], end=' ')
    sum += subjects[row][col]
  sum_list.append(sum)
  print()
print(sum_list)

1 9 2
2 7 1
3 6 2
[12, 10, 11]

In [ ]:
# col wise sum  -> assignment
row_sum = []

for row in range(len(subjects)):
  sum = 0
  for col in range(len(subjects[row])):
    print(subjects[row][col], end=' ')
    sum += subjects[row][col]
  row_sum.append(sum)
  print()
print(row_sum)

1 2 3
9 7 6
2 1 2
[6, 22, 5]

In [ ]:


# Assignment
# calculate max rowwise, col wise and max of matrix

In [ ]:
# 2D matrix addition 
A = [[1,2], [3,4]]
B = [[4,5], [6,7]]
row = len(A)
col = len(A[0])
C = []
for r in range(row):
  temp = []
  for c in range(col):
    temp.append(A[r][c] + B[r][c])
  C.append(temp)
print(C)

[[5, 7], [9, 11]]

In [ ]:
# 2D matrix transpose 
A = [
  [30, 25, 55, 45, 100, 80, 42],
  [90, 97, 34, 71, 60, 61, 89],
  [6, 98, 61, 83, 8, 89, 45],
  [26, 64, 16, 67, 85, 35, 37],
  [38, 84, 43, 67, 60, 97, 63],
  [60, 28, 5, 1, 76, 90, 23],
  [36, 50, 11, 41, 99, 23, 75],
  [58, 11, 19, 83, 74, 34, 2],
  [11, 21, 38, 100, 56, 80, 19],
  [16, 28, 81, 27, 8, 37, 79] ]

C = []
for c in range(len(A[0])):
  temp = []
  for r in range(len(A)):
    temp.append(A[r][c])
  C.append(temp)
print(*C)

[30, 90, 6, 26, 38, 60, 36, 58, 11, 16] [25, 97, 98, 64, 84, 28, 50, 11, 21, 28] [55, 34, 61, 16, 43, 5, 11, 19, 38, 81] [45, 71, 83, 67, 67, 1, 41, 83, 100, 27] [100, 60, 8, 85, 60, 76, 99, 74, 56, 8] [80, 61, 89, 35, 97, 90, 23, 34, 80, 37] [42, 89, 45, 37, 63, 23, 75, 2, 19, 79]

In [ ]:
# row sum
def solve(A):
     sum_list = []
     for r in range(len(A)):
        sum = 0
        for c in range(len(A[r])):
            sum += A[r][c]
        sum_list.append(sum)
        print()
 #    [print(i,end=' ') for i in sum_list]
     print(sum_list)

In [ ]:
A = [
  [689, 456, 460, 792, 186, 351, 237, 365, 832, 276, 469, 625, 517, 39, 156, 175, 753, 717, 172, 624, 945, 707, 411, 714, 72, 98, 491, 190, 593, 956, 754, 282, 412, 214, 75, 598, 917, 664, 963, 749, 940, 785, 726, 809, 824, 883, 336, 929, 952, 508, 905, 249, 568, 668, 963],
  [992, 767, 806, 182, 712, 763, 289, 995, 527, 503, 422, 478, 421, 86, 793, 522, 378, 578, 249, 187, 754, 484, 876, 35, 436, 384, 940, 686, 304, 609, 1, 297, 728, 160, 831, 792, 923, 120, 787, 802, 624, 209, 632, 397, 647, 426, 271, 25, 356, 520, 565, 463, 4, 441, 498],
  [793, 177, 791, 479, 834, 752, 832, 131, 832, 992, 314, 624, 267, 435, 764, 422, 411, 973, 54, 160, 973, 480, 431, 350, 189, 304, 915, 4, 660, 708, 502, 453, 238, 645, 284, 72, 749, 117, 555, 581, 461, 869, 558, 729, 656, 322, 151, 419, 647, 205, 931, 620, 38, 363, 971],
  [579, 19, 238, 583, 679, 947, 437, 133, 537, 83, 769, 609, 184, 238, 164, 766, 700, 385, 324, 429, 394, 998, 932, 813, 645, 489, 745, 266, 879, 460, 589, 810, 479, 827, 393, 158, 126, 183, 643, 663, 618, 765, 624, 802, 3, 788, 920, 703, 526, 596, 484, 920, 594, 768, 733],
  [240, 258, 830, 858, 489, 642, 799, 300, 121, 626, 45, 632, 105, 580, 627, 120, 198, 392, 745, 1, 748, 885, 921, 451, 411, 870, 288, 331, 464, 56, 65, 56, 666, 247, 266, 508, 890, 65, 160, 363, 692, 557, 347, 149, 138, 327, 269, 336, 71, 14, 689, 819, 900, 963, 623],
  [311, 833, 911, 995, 297, 319, 412, 706, 338, 659, 972, 198, 901, 38, 358, 617, 82, 915, 964, 231, 53, 291, 852, 742, 363, 219, 431, 534, 119, 394, 157, 782, 579, 420, 777, 877, 92, 541, 935, 782, 201, 907, 980, 454, 945, 690, 71, 27, 957, 388, 610, 363, 31, 463, 105],
  [394, 682, 888, 281, 153, 283, 438, 287, 862, 859, 417, 91, 303, 958, 26, 85, 511, 286, 65, 966, 231, 107, 389, 611, 64, 777, 573, 427, 809, 36, 884, 555, 70, 773, 836, 575, 56, 275, 863, 270, 486, 632, 714, 789, 590, 92, 874, 102, 378, 291, 420, 610, 750, 809, 573],
  [814, 587, 146, 594, 748, 535, 478, 303, 957, 251, 492, 533, 659, 767, 748, 930, 605, 380, 996, 746, 322, 88, 972, 776, 467, 615, 196, 429, 365, 358, 2, 179, 297, 500, 773, 45, 387, 252, 700, 345, 855, 192, 230, 515, 311, 978, 797, 916, 710, 793, 14, 384, 233, 986, 161],
  [52, 601, 709, 481, 966, 67, 835, 498, 716, 688, 271, 761, 75, 875, 814, 420, 83, 6, 650, 598, 670, 980, 747, 938, 42, 892, 953, 427, 125, 939, 588, 178, 541, 649, 11, 859, 717, 847, 357, 433, 535, 981, 547, 610, 208, 361, 383, 291, 719, 385, 241, 389, 718, 988, 328],
  [760, 880, 281, 187, 358, 572, 127, 888, 465, 777, 899, 325, 846, 746, 682, 631, 633, 15, 178, 596, 224, 891, 331, 867, 611, 716, 109, 352, 434, 449, 680, 547, 330, 313, 86, 40, 886, 566, 928, 351, 343, 827, 28, 189, 926, 711, 172, 559, 78, 351, 507, 302, 242, 838, 522],
  [205, 555, 631, 558, 341, 80, 590, 240, 762, 256, 327, 154, 142, 893, 82, 845, 588, 910, 874, 129, 188, 937, 301, 99, 15, 652, 607, 670, 247, 445, 192, 804, 352, 175, 362, 46, 607, 305, 638, 370, 561, 965, 524, 703, 210, 959, 900, 150, 221, 126, 279, 409, 63, 581, 508],
  [431, 585, 115, 453, 184, 913, 997, 989, 617, 524, 703, 15, 131, 8, 654, 853, 569, 971, 378, 624, 182, 689, 877, 332, 910, 3, 964, 319, 419, 897, 179, 202, 834, 647, 655, 19, 912, 4, 360, 529, 528, 63, 545, 11, 424, 551, 865, 993, 522, 595, 970, 56, 284, 847, 389],
  [194, 850, 705, 865, 621, 602, 44, 823, 436, 691, 830, 807, 603, 834, 167, 485, 714, 583, 382, 726, 7, 933, 591, 352, 455, 538, 322, 512, 822, 521, 253, 368, 372, 958, 233, 345, 912, 629, 169, 348, 673, 999, 156, 628, 186, 675, 113, 252, 258, 495, 978, 265, 780, 921, 970],
  [236, 811, 292, 100, 633, 814, 705, 1, 538, 15, 586, 883, 927, 216, 404, 627, 889, 404, 135, 517, 942, 811, 983, 194, 421, 830, 525, 39, 611, 798, 9, 199, 610, 653, 651, 243, 467, 356, 597, 357, 723, 183, 593, 650, 751, 997, 277, 992, 753, 765, 862, 695, 576, 845, 242],
  [997, 675, 767, 36, 638, 565, 397, 189, 175, 51, 840, 771, 870, 548, 368, 580, 271, 903, 173, 921, 655, 522, 551, 647, 628, 316, 861, 323, 244, 706, 565, 593, 734, 684, 982, 372, 250, 379, 562, 777, 782, 754, 548, 653, 303, 916, 233, 574, 172, 758, 848, 179, 280, 751, 178],
  [908, 419, 40, 584, 663, 746, 501, 608, 480, 186, 590, 205, 788, 322, 119, 565, 104, 873, 114, 109, 176, 382, 342, 751, 906, 100, 951, 85, 733, 702, 264, 641, 473, 304, 577, 488, 50, 79, 96, 883, 617, 39, 440, 405, 361, 559, 322, 817, 432, 788, 927, 609, 171, 621, 712],
  [429, 722, 15, 515, 455, 717, 779, 448, 190, 83, 26, 678, 485, 457, 126, 720, 74, 165, 160, 831, 878, 719, 153, 48, 152, 942, 327, 113, 465, 948, 177, 894, 22, 192, 409, 829, 261, 540, 278, 803, 975, 656, 833, 461, 465, 959, 181, 539, 477, 694, 722, 707, 413, 875, 107],
  [917, 169, 434, 382, 986, 383, 559, 881, 405, 103, 642, 235, 364, 535, 865, 167, 510, 873, 352, 323, 338, 664, 505, 229, 141, 199, 951, 200, 964, 178, 308, 882, 348, 94, 264, 334, 477, 176, 567, 235, 279, 210, 822, 996, 97, 687, 163, 607, 912, 868, 931, 250, 532, 788, 479],
  [25, 339, 430, 225, 303, 608, 885, 537, 308, 980, 154, 643, 457, 682, 210, 44, 961, 772, 866, 957, 869, 905, 473, 829, 817, 341, 760, 419, 225, 548, 898, 250, 239, 680, 475, 894, 641, 361, 432, 949, 693, 938, 944, 502, 620, 507, 547, 933, 279, 765, 243, 501, 671, 68, 330],
  [840, 409, 442, 260, 986, 342, 510, 236, 581, 191, 711, 475, 184, 424, 259, 133, 117, 549, 430, 620, 169, 937, 519, 455, 568, 284, 698, 69, 307, 766, 751, 500, 527, 193, 112, 513, 887, 622, 101, 468, 165, 164, 296, 349, 589, 555, 835, 58, 457, 265, 30, 626, 202, 901, 433],
  [770, 186, 483, 192, 845, 249, 295, 345, 128, 489, 457, 993, 376, 432, 94, 197, 597, 259, 493, 299, 200, 400, 134, 610, 857, 399, 993, 836, 953, 894, 621, 75, 432, 105, 619, 630, 706, 915, 975, 835, 756, 785, 180, 132, 217, 275, 681, 166, 886, 526, 465, 438, 927, 599, 48],
  [136, 350, 393, 324, 655, 288, 946, 83, 72, 51, 702, 702, 757, 617, 678, 944, 373, 815, 477, 858, 384, 104, 891, 902, 990, 418, 368, 428, 345, 319, 828, 833, 22, 222, 158, 29, 862, 456, 112, 934, 859, 167, 637, 616, 136, 667, 913, 862, 834, 390, 72, 218, 494, 963, 120],
  [836, 381, 840, 616, 78, 512, 444, 912, 886, 18, 422, 915, 880, 230, 380, 167, 89, 547, 804, 57, 683, 471, 970, 545, 305, 712, 617, 875, 558, 933, 347, 394, 314, 540, 362, 393, 52, 159, 657, 290, 177, 431, 205, 410, 661, 937, 577, 750, 484, 733, 807, 520, 204, 130, 417],
  [861, 194, 387, 88, 753, 320, 435, 499, 634, 975, 862, 379, 379, 21, 388, 669, 550, 819, 227, 312, 832, 164, 889, 934, 1, 974, 742, 873, 178, 224, 290, 391, 418, 677, 831, 523, 349, 267, 23, 336, 594, 237, 715, 326, 258, 456, 347, 160, 275, 926, 473, 460, 443, 714, 394],
  [796, 689, 488, 669, 219, 712, 311, 963, 483, 341, 794, 6, 690, 61, 29, 26, 8, 618, 94, 686, 876, 550, 33, 389, 177, 312, 862, 637, 755, 928, 384, 551, 617, 872, 572, 189, 937, 883, 152, 420, 224, 946, 426, 915, 360, 808, 293, 720, 426, 387, 406, 655, 289, 791, 396],
  [467, 103, 610, 456, 210, 538, 840, 113, 508, 65, 685, 697, 2, 569, 849, 422, 793, 795, 200, 60, 507, 360, 706, 227, 139, 445, 633, 794, 735, 425, 542, 554, 880, 152, 10, 443, 690, 203, 556, 198, 268, 242, 895, 270, 811, 96, 44, 956, 892, 244, 369, 751, 605, 75, 979],
  [744, 872, 612, 890, 607, 389, 432, 161, 622, 584, 524, 65, 626, 727, 621, 825, 347, 863, 72, 617, 26, 169, 13, 335, 413, 257, 56, 516, 214, 483, 495, 310, 355, 108, 200, 963, 849, 984, 476, 823, 920, 352, 888, 547, 79, 862, 724, 778, 77, 148, 747, 104, 669, 760, 791],
  [434, 370, 847, 951, 584, 330, 446, 895, 37, 906, 447, 352, 756, 432, 829, 931, 352, 181, 820, 251, 613, 682, 975, 391, 759, 124, 491, 215, 793, 251, 6, 228, 621, 205, 179, 558, 887, 625, 805, 925, 884, 252, 277, 640, 36, 458, 923, 389, 992, 743, 992, 957, 777, 968, 700],
  [889, 444, 191, 104, 237, 795, 463, 817, 416, 20, 996, 326, 908, 974, 131, 185, 858, 384, 814, 850, 420, 625, 773, 161, 617, 869, 154, 574, 646, 474, 274, 535, 918, 818, 992, 155, 613, 455, 973, 381, 827, 321, 708, 735, 647, 839, 272, 505, 575, 87, 707, 996, 64, 833, 509],
  [681, 702, 663, 607, 700, 137, 233, 588, 55, 51, 580, 563, 16, 387, 888, 398, 214, 209, 106, 302, 857, 945, 574, 714, 521, 13, 422, 869, 77, 255, 378, 110, 309, 394, 69, 9, 883, 303, 597, 939, 706, 529, 854, 723, 916, 742, 121, 131, 303, 579, 785, 160, 876, 711, 227],
  [749, 725, 649, 618, 154, 256, 349, 617, 917, 743, 38, 926, 626, 341, 876, 917, 400, 405, 123, 475, 674, 865, 948, 805, 169, 527, 942, 681, 403, 653, 908, 153, 730, 909, 123, 885, 517, 472, 854, 434, 567, 892, 713, 546, 586, 941, 463, 338, 346, 939, 813, 20, 804, 113, 177],
  [325, 640, 471, 359, 395, 125, 267, 900, 855, 529, 376, 92, 46, 200, 946, 833, 768, 191, 898, 314, 777, 839, 129, 115, 537, 68, 280, 910, 225, 393, 439, 550, 385, 911, 261, 132, 36, 881, 385, 891, 410, 761, 336, 808, 961, 282, 993, 81, 473, 891, 395, 602, 730, 877, 69],
  [620, 297, 349, 530, 522, 94, 969, 425, 479, 880, 686, 964, 268, 567, 349, 512, 329, 462, 848, 490, 423, 482, 483, 857, 308, 375, 604, 910, 457, 481, 332, 429, 779, 681, 959, 653, 128, 281, 78, 959, 161, 765, 923, 782, 684, 272, 294, 366, 86, 494, 856, 510, 976, 339, 719],
  [284, 66, 323, 547, 876, 805, 879, 305, 936, 912, 617, 589, 392, 898, 20, 352, 59, 137, 275, 193, 821, 900, 487, 187, 986, 981, 43, 848, 310, 735, 567, 946, 801, 891, 493, 29, 48, 724, 335, 336, 989, 952, 925, 381, 202, 297, 85, 261, 434, 361, 455, 256, 613, 294, 795],
  [951, 628, 191, 800, 938, 926, 719, 884, 79, 962, 730, 461, 362, 806, 148, 698, 147, 452, 976, 881, 654, 273, 966, 267, 708, 679, 722, 316, 292, 369, 463, 596, 997, 654, 748, 287, 932, 467, 171, 12, 782, 253, 473, 144, 60, 621, 195, 559, 425, 523, 440, 79, 148, 407, 346],
  [208, 86, 421, 524, 731, 790, 988, 327, 139, 994, 427, 426, 927, 894, 949, 939, 28, 203, 764, 525, 615, 737, 72, 526, 162, 595, 967, 241, 743, 374, 939, 952, 812, 360, 828, 895, 150, 168, 574, 641, 163, 1, 67, 90, 248, 369, 381, 276, 924, 145, 153, 891, 234, 225, 417],
  [748, 820, 384, 341, 916, 110, 280, 868, 275, 993, 48, 170, 143, 217, 745, 137, 380, 746, 556, 470, 346, 925, 851, 623, 849, 348, 776, 92, 934, 354, 510, 34, 174, 246, 375, 442, 357, 7, 662, 632, 0, 711, 154, 496, 928, 899, 633, 660, 998, 189, 130, 344, 467, 333, 319],
  [668, 33, 448, 761, 967, 802, 623, 1, 328, 869, 728, 123, 226, 735, 785, 210, 88, 496, 717, 584, 776, 968, 569, 436, 966, 758, 918, 663, 577, 251, 334, 246, 284, 782, 7, 603, 936, 630, 956, 617, 851, 36, 740, 430, 124, 877, 640, 212, 726, 709, 148, 502, 678, 717, 291],
  [996, 827, 209, 11, 405, 813, 346, 651, 449, 480, 10, 53, 769, 992, 361, 386, 843, 398, 478, 273, 522, 355, 266, 734, 81, 975, 882, 936, 653, 599, 227, 2, 778, 788, 13, 183, 601, 359, 834, 51, 840, 196, 456, 609, 188, 817, 347, 384, 215, 177, 657, 89, 532, 275, 823],
  [966, 251, 57, 254, 256, 8, 481, 258, 787, 269, 272, 970, 223, 631, 157, 274, 823, 705, 730, 784, 894, 899, 483, 630, 467, 660, 287, 556, 545, 563, 380, 863, 166, 789, 117, 774, 798, 950, 33, 937, 571, 657, 259, 794, 640, 416, 68, 464, 122, 150, 600, 368, 50, 84, 998],
  [517, 96, 637, 73, 641, 552, 805, 856, 70, 947, 973, 845, 97, 923, 878, 34, 495, 887, 293, 289, 527, 62, 710, 991, 536, 212, 944, 904, 614, 380, 254, 131, 476, 243, 557, 470, 148, 714, 326, 218, 13, 652, 63, 110, 575, 293, 496, 422, 180, 790, 64, 60, 204, 126, 51],
  [740, 338, 347, 996, 953, 727, 250, 436, 556, 845, 345, 26, 993, 60, 704, 212, 425, 356, 627, 536, 932, 273, 32, 706, 805, 174, 770, 865, 378, 248, 269, 118, 587, 616, 114, 540, 696, 716, 328, 252, 914, 674, 278, 907, 86, 982, 471, 511, 691, 451, 399, 623, 724, 432, 681],
  [881, 958, 804, 747, 337, 52, 16, 455, 639, 984, 922, 531, 680, 990, 212, 284, 904, 886, 914, 164, 324, 897, 987, 835, 588, 438, 235, 563, 514, 19, 596, 748, 977, 400, 495, 666, 453, 863, 474, 444, 847, 396, 328, 880, 738, 540, 164, 643, 778, 431, 159, 102, 328, 146, 937],
  [268, 937, 524, 183, 803, 895, 131, 551, 225, 532, 46, 891, 337, 261, 365, 133, 461, 761, 461, 693, 852, 353, 209, 495, 131, 640, 6, 233, 968, 504, 523, 588, 441, 399, 123, 597, 295, 255, 148, 520, 139, 547, 411, 476, 808, 777, 609, 621, 890, 423, 314, 742, 776, 524, 589],
  [908, 164, 947, 493, 485, 452, 16, 425, 245, 416, 549, 842, 63, 156, 991, 935, 647, 890, 346, 123, 50, 475, 84, 672, 718, 507, 986, 812, 636, 862, 402, 896, 27, 701, 389, 512, 153, 758, 289, 399, 526, 190, 593, 589, 346, 936, 524, 345, 826, 222, 468, 229, 698, 905, 901],
  [768, 764, 239, 580, 400, 102, 334, 648, 481, 36, 38, 345, 541, 796, 634, 292, 674, 825, 886, 263, 523, 822, 787, 869, 1, 361, 689, 230, 411, 946, 483, 179, 711, 74, 760, 463, 528, 446, 112, 9, 482, 502, 706, 24, 650, 693, 668, 324, 870, 554, 587, 393, 729, 726, 614],
  [730, 439, 656, 312, 851, 602, 795, 30, 665, 869, 142, 481, 750, 589, 945, 759, 423, 447, 818, 799, 449, 511, 468, 773, 381, 374, 712, 126, 103, 790, 93, 833, 229, 74]
]
solve(A)

[30741, 27677, 28187, 30139, 24213, 28189, 26126, 28412, 29743, 27152, 24333, 28290, 29951, 29933, 30015, 25727, 26289, 26760, 30932, 24070, 27449, 27774, 27634, 26446, 27821, 25678, 27691, 31472, 30854, 25681, 31814, 27343, 29526, 28233, 28767, 27225, 26145, 30150, 26194, 27188, 24424, 28715, 31293, 26384, 28719, 27572, 18018]

In [ ]:
# matri diagonal sum
class Solution:
    def solve(self, A):
      summ = 0
      for i in range(len(A)):
        for j in range(len(A[0])):
          if i == j:
            summ += A[i][j]
      print(summ)

In [ ]:
A =[
  [33, -92, 58, -54, 90, -79, 37, 54, -46],
  [76, 75, -100, 83, 24, -3, -96, -67, -91],
  [-34, 54, 26, -51, 33, 63, -10, 87, 27],
  [-54, 53, 70, 47, 9, 88, 44, 17, -93],
  [85, 81, 64, -98, 78, -67, -3, 54, 82],
  [-29, -98, 80, 40, -41, 12, 62, 52, -29],
  [27, 17, -66, -68, -83, 87, -10, -82, -91],
  [-20, 50, -47, -54, 44, -64, 49, 12, -2],
  [-56, -18, 23, 86, -5, -28, -42, 18, 93]
]

obj = Solution()
obj.solve(A)

366

In [ ]:
# matrix scaler product
class Solution:
    def solve(self, A, B):
      for i in range(len(A)):
        for j in range(len(A[i])):
            A[i][j] *= B
        return A

In [ ]:
A = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
B = 2 
obj = Solution()
obj.solve(A,B)

2 4 6 8 10 12 14 16 18

In [ ]:
# col sum
class Solution:
    # @param A : integer
    # @param B : integer
    # @param C : list of list of integers
    # @return a list of integers
    def solve(self, A, B, C):
        sum_list = []
        for c in range(B):
            sum = 0
            for r in range(A):
                sum += C[r][c]
            sum_list.append(sum)
            print()
        print(*sum_list)

In [ ]:
A = 8
B = 1
C =[
  [20],
  [14],
  [19],
  [19],
  [7],
  [15],
  [4],
  [17]
]

obj = Solution()
obj.solve(A,B,C)

115

In [ ]:
# check matrix same or not 
class Solution:
    # @param A : list of list of integers
    # @param B : list of list of integers
    # @return an integer
    def solve(self, A, B):
        is_same = True
        if len(A) != len(B)  and len(A[0]) != len(B[0]):
            is_same = False
        else:
            for i in range(len(A)):
                for j in range(len(A[i])):
                    if A[i][j] == B[i][j]:
                        continue
                    else:
                        is_same = False
                        break

        if not is_same:
            return 0
        else:
            return 1

In [ ]:
A = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
B = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
obj = Solution()
obj.solve(A,B)

1

In [ ]:
# matrix substration
class Solution:
    # @param A : list of list of integers
    # @param B : list of list of integers
    # @return a list of list of integers
    def solve(self, A, B):
        sub_list = []
        for i in range(len(A)):
            temp = []
            for j in range(len(A[i])):
                temp.append(A[i][j]-B[i][j])
            sub_list.append(temp)
            print()
            
        return(sub_list)

In [ ]:
A =  [[1, 2, 3], 
      [4, 5, 6], 
      [7, 8, 9]]

B =  [[9, 8, 7], 
      [6, 5, 4], 
      [3, 2, 1]]
obj = Solution()
obj.solve(A,B)

[[-8, -6, -4], [-2, 0, 2], [4, 6, 8]]

In [ ]:
# col wave form
def take_input():
    array = list(map(int,input().split()))
    return array

def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output
    N = int(input())
    A = []
    wave = []
    for i in range(N):
        A.append(take_input())
    
#    print(*A,sep=' ')
    for c in range(len(A[0])):
      temp = []
      if c%2 == 0:
        for r in range(len(A)):
          temp.append(A[r][c])
        wave.append(temp)
        print()
      else:
        for r in range(len(A)-1,-1,-1):
          temp.append(A[r][c])
        wave.append(temp)
        print()
    [print(i,end=' ')for i in wave] 

if __name__ == '__main__':
    main()

3
1 2 3
4 5 6
7  9 7



[1, 4, 7] [9, 5, 2] [3, 6, 7]

In [ ]:
# row wave form
def take_input():
    array = list(map(int,input().split()))
    return array

def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output
    N = int(input())
    mat = []
    wave = []
    for i in range(N):
        mat.append(take_input())

    for i in range(len(mat)):
      temp = []
      if i%2 == 0:
        for c in range(len(mat[i])):
          temp.append(mat[i][c])
        wave.append(temp)
        
      else:
        for c in range(len(mat[i])-1,-1,-1):
          temp.append(mat[i][c])
        wave.append(temp)

    print(*wave)

if __name__ == '__main__':
    main()

3
1 2 3
2 3 4
3 4 5
[1, 2, 3] [4, 3, 2] [3, 4, 5]

In [ ]:
class Solution:
    # @param A : list of list of integers
    # @return a list of integers
    def solve(self, A):
        r = A.pop(0)
        c = A.pop(0)
        max_list = []

        for i in range(r*c):
           temp.append(A[i])
        
        print(*max_list)

In [ ]:
A = [2, 2, 1, 2, 1, 3]
obj = Solution()
obj.solve(A)

1 2 1 3

In [ ]:
# Day 10
# tuples and strings 
# tuples - are collection of heterogenous data
# tuples are immetable  + tuples are also iterables
# declaring a tuple: A = ("Shan", 13, True) or use tuple keyword --> tuple() or a = 1,2,3 --> parenthesis are optional
# example: a = (123) --> makes a is int so to make single value as tuple we need a = (123,)

In [ ]:
# indexing/reverse index/slicing tuple -> same as list
#a = (1,2,3,4)
a = 1,2,3,4
print(a)

# updating tuple
#a[0]= 2 --> error
print(a[0])

#we can convert list to tuple and vise versa
print(list(a))
A = [1,2,3,4]
print(tuple(A))

(1, 2, 3, 4)
1
[1, 2, 3, 4]
(1, 2, 3, 4)

In [ ]:
print(*A)

1 2 3 4

In [ ]:
# tuples are also called as sudo immetable becasue we can update list inside tuple 
A = (1,"Shantayya", [1,2,3,4])
A[2].append(2)
print(*A[:len(A)-1],*A[2])

1 Shantayya 1 2 3 4 2

In [ ]:
B = tuple(range(0,100,2))
print(B)

(0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [ ]:
# strings --> ordered collection of characters [A-Z,a-z,0-9, special char, space]
# how computer stores number --> 0 and 1  --> due to ASCII mapping  
# ASCII --> american standerd code for information and interchange 
#A-Z --> 65-90
#a-z --> 97-122
#0-9 --> 48-57
#ord (ordinal) and chr are used to check ASCII character and their respective numbers
ord("A")
chr(166)

''

In [ ]:
# string operations
# + --> use for concatination + strings are also iterables
#inbuilt string funtions
# string.capotalize(), .count(char/string),.title(), .replace('old','new',count--) so if we want to replace single char then .replace(a,e,1)

In [ ]:
A = "Shantayya Swami hello world"
A.replace('a','e',1)

'Shentayya Swami hello world'

In [ ]:
# split(), maxsplit
A.split(maxsplit=1)

['Shantayya', 'Swami hello world']

In [ ]:
 name = "Scaler Academy"
 for c in name:
   print(c,end=' ')

S c a l e r   A c a d e m y

In [ ]:
# assignment for palindrome
a = input()
if a == a[::-1]:
  print("1")
else:
  print("0")

aba
1

In [ ]:
#formattted string
a = "shantayya"
b = [1,2,3]
print(f"Name:{a} list={b}")
#or 
print("Name:{} list={}".format(a,b))
#or
print("Name:{a} list={b}".format(a=a,b=b))

Name:shantayya list=[1, 2, 3]
Name:shantayya list=[1, 2, 3]
Name:shantayya list=[1, 2, 3]

In [ ]:
elements = (10, 20, 30, 40, 50, 60, 70, 80)
print(elements[2:5], elements[:4], elements[3:100])

(30, 40, 50) (10, 20, 30, 40) (40, 50, 60, 70, 80)

In [ ]:
tuple1 = ("orange")
print(type(tuple1))

<class 'str'>

In [ ]:
# issue with print function is that it returns none type. 
def get_index(tup, elem):
  for index, value in enumerate(tup):
     if elem == value:
          return (index+1)
  else:
          return -1

In [ ]:
elem = (10,20,30,40,50,60,70,80,90)
B = 30
get_index(elem,B)

3

In [ ]:
str1 = 'Welcome'
print (str1[:6] + ' to Hollywood')

Welcom to Hollywood

In [ ]:
input_string = "shentayyee seami"
input_string.split('e', maxsplit=2)
input_string.split('e', 2)

['sh', 'ntayy', 'e seami']

In [ ]:
list1=[2,12,45,6,8,32,17,6]
if(6 in list1):
     print('Element exists')

e_count = list1.count(6)   
print(e_count)       #Use shift+tab to adjust the indentation of the statements of if-else block. It shouldn't give indentation error.
if e_count > 0:
    print("Yes, 6 exists in list")
else:
    print("No, 6 does not exists in list")

Element exists
2
Yes, 6 exists in list

In [ ]:
#day 11 string II
#calculate the count of Upper case letters in string

In [ ]:
s = input()
count = 0
for ch in s:
  if ord(ch) >= ord('A') and ord(ch) <= ord('Z'):
    count += 1
print(count)

ShantaYYA SWAmi
7

In [ ]:
# join function() --> workd only with strings 
# A = ['1',2,'3']   (' '.join(A)) --> will fail because A is not string iterable 
A = ["a","b","c"]
("-".join(A))
(".".join("Shantayya"))
(".".join(range(10)))   #--> error due to int range

TypeError: ignored

In [ ]:
"_".join(['Shantayya'])  ---> because itrable has single value there wont be _ in result

'Shantayya'

In [ ]:
# upper and lower function()
"Abc".upper()
"abc123".upper()
" ".upper()
"AbC".lower()
"ABCa123".lower()
" ".lower()

' '

In [ ]:
#isupper()  and islower() --> takes an argument and returns bool
"ABC".isupper()
"anc".islower()

True

In [ ]:
"abc123".isupper()
"ABC".islower()

False

In [ ]:
"ABC123".isupper()
"abc123".islower()

True

In [ ]:
" ".isupper()
"123".islower()

False

In [ ]:
# isalpha() --> checks whether entire string alphabet or not and returns bool
# isdigit() --> checks whether entire string digit or nor and returns bool
"a1bc".isalpha()
"123c".isdigit()

False

In [ ]:
"anc ".isalpha()   #--> because of space after c
"12.2".isdigit()   #--> because . is not digit

False

In [ ]:
# isalnum() --> checks whether string is alphabet or number or combination of both and returns bool
"123aln".isalnum()

True

In [ ]:
"abc".isalnum()
"123".isalnum()

True

In [ ]:
#endwith() --> takes an argument and returns true if main string ends with given argument
# startswith() --> takes an argument and returns true if main string starts with given argument
"Shantayya".endswith('yya')
"shantayya".startswith("sh")   #--> s and S not equal

True

In [ ]:
"123a".endswith("3ing")
"123a".startswith("a")

False

In [ ]:
"Shantayya".endswith("")
"swami".startswith("")

True

In [ ]:
# in operator --> check if left string is subset of right string. it returns bool
"shan" in "Shantayya"

False

In [ ]:
"ya" in "Shantayya"

True

In [ ]:
# pattern printing using string 
n = int(input())
for i in range(n):
  print(" "*(n-i) + "* "*i)

# observation
#1. "* " always comes together
#2. number of "* " is equla to row number
#3. number of spaces are equal to (n-row number)

5

    *
   * *
  * * *
 * * * *

In [ ]:
n = int(input())
for i in range(n,0,-1):
  print(" "*(n-i) + "* "*i)

10
* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [ ]:
# list comparison --> always compare first value of both strings whichever is greater that list is greater. if both first values are equal then move to second value and compare

In [ ]:
list1 = [1,2,3] 
list2 = [3,2,1]
list1 < list2

True

In [ ]:
# string comparison --> we will compare strings based on ordinal/ASCII value 
"abc" > "ABC"

True

In [ ]:
"asnhcabdha" > "dsa"

False

In [ ]:
# list comprehension
#list1 = [ item for iterator in iterable]
list1 = [i**2 for i in range(1,100,2)]
print(list1)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841, 961, 1089, 1225, 1369, 1521, 1681, 1849, 2025, 2209, 2401, 2601, 2809, 3025, 3249, 3481, 3721, 3969, 4225, 4489, 4761, 5041, 5329, 5625, 5929, 6241, 6561, 6889, 7225, 7569, 7921, 8281, 8649, 9025, 9409, 9801]

In [ ]:
list1 = [i for i in range(100) if (i%5 == 0) and (i%3 == 0)]
print(list1)

[0, 15, 30, 45, 60, 75, 90]

In [ ]:
a = "Random String"
b = a
c = str(a)
d = a[:]
e = "Rand"+""+"om Str"+""+"ing"
print(b,c,d,e)

Random String Random String Random String Random String

In [ ]:
words= ['goOd','mORNing','HOW','are','yoU','todAy']

def upper_char(words):
  output=[]
  for i in range(len(words)):
      if words[i][2].isupper() == True:
        output.append(words[i])
  return output
upper_char(words)

['goOd', 'mORNing', 'HOW', 'yoU']

In [ ]:
word = "Scaler Academy"
n = len(word)
word1 = word.upper()
word2 = word.lower()

converted_word = ""

for i in range(n):
     if i % 2 == 0:
          converted_word += word2[i]
     else:
          converted_word += word1[i]
print(converted_word)

sCaLeR AcAdEmY

In [ ]:
a = 'hello'
b = a
a = 'yello'

print(b)
print(a)

hello
yello

In [ ]:
s = "My PO Box number is 310"
print(s.isalnum())

False

In [ ]:
print(s.islower())

False

In [ ]:
print(s.startswith("My P"))

True

In [ ]:
print(s.isspace())

False

In [ ]:
s = "hello"
print(s[0:9])
print(s[::-1])

hello
olleh

In [ ]:
str1 = "quick brown fox word!"
print(str1[12:15], str1[:5], str1[-5:-1], str1[8:110], str1[-4:])

fox quick word own fox word! ord!

AttributeError: ignored

In [ ]:
# day 12 - sets and Dictionary
# dictionaris are set of key-value pairs
# dictionary {
#         key1: value,
#         key2: value,
#         :
# }
# Dict key and value are heterogenous. Key cannot be mutable (sets, list and dict)
# key should be unique
#empty dictionary: a = {} or a = dict()

#indexing 
#dict does not have int indexing because dect are unordered 
# get function() --> gets values based on key passed in get function. a.get(key1)

nicknames = {'Shantayya': 'Bala', 'Aakar': 'Golu', 'Anya': 'Dalton', 'Jitesh': 'Sonya', 'kooldip': 'Muchhad'}
nicknames.get('Shantayya','deafult value') #--> get function returns default value provided in function if key does not have any value or none
nicknames.get('Sanket')
print(nicknames['Aakar'])

Golu

In [ ]:
# inserting value in dict
nicknames['amar'] = 'Chokya' #or nicknames.add('amar') = 'Chokya'
print(nicknames)

{'Shantayya': 'kalu', 'Aakar': 'Golu', 'Anya': 'Dalton', 'Jitesh': 'Sonya', 'kooldip': 'Muchhad', 'amar': 'Chokya'}

In [ ]:
# updating dict
nicknames['Shantayya'] = 'kalu'   #--> dict key value can be overriden 
#or
nicknames.update({"amar": 'Chokeshwar'})

In [ ]:
# deleting value from dict
removal = nicknames.pop('Shantayya')
print(removal)

kalu

In [ ]:
#iterating through dict
# get keys --> nicknames.keys() --> return all the keys as iterable
# get values --> nicknames.value() --> return all values as iterable

print("Name ----> Nickname")
for key in nicknames.keys():
  print(key,"-->",nicknames[key])

Name ----> Nickname
Aakar --> Golu
Anya --> Dalton
Jitesh --> Sonya
kooldip --> Muchhad
amar --> Chokya

In [ ]:
for key,value in nicknames.items():      # get key, value pair --> using nicknames.item()
  print(key,"-->", value)

Aakar --> Golu
Anya --> Dalton
Jitesh --> Sonya
kooldip --> Muchhad
amar --> Chokya

In [ ]:
len(nicknames)
print(*nicknames.items())

('Aakar', 'Golu') ('Anya', 'Dalton') ('Jitesh', 'Sonya') ('kooldip', 'Muchhad') ('amar', 'Chokeshwar') ('Shantayya', 'kalu')

In [ ]:
# problem statement : count number of uniue char in string
n = input()
dic = {}
for ch in n:
  if ch in dic:
    dic[ch] += 1
  else:
    dic[ch] = 1
print(dic)

Shantayya Swami
{'S': 2, 'h': 1, 'a': 4, 'n': 1, 't': 1, 'y': 2, ' ': 1, 'w': 1, 'm': 1, 'i': 1}

In [ ]:
#sets: unordered collection of unique data
#sets does not store list,tuples dictionary

fruits = {'banana','apple', 'tomato'}
#set = set() #--> empty set decalaration 

# we dont index or get value in set using indexing 
#inserting in set
fruits.add('pinaple')

#updating set  --> does not update set , just adds multiple values in set
fruits.update('jackfruit')
print(fruits)

#removing value from set
fruits.remove('banana')
print(fruits)

{'apple', 'pinaple', 'j', 'a', 'c', 'f', 't', 'banana', 'k', 'r', 'i', 'u', 'tomato'}
{'apple', 'pinaple', 'j', 'a', 'c', 'f', 't', 'k', 'r', 'i', 'u', 'tomato'}

In [ ]:
for fruit in fruits:
   print(fruit)

pinaple
j
a
c
f
t
k
r
i
u
tomato

In [ ]:
# add multiple values in set
a = ['peech', 'grape', 'gava']
fruits.update(a)
print(fruits)

{'pinaple', 'grape', 'j', 'a', 'c', 'f', 't', 'peech', 'k', 'r', 'i', 'u', 'gava', 'tomato'}

In [ ]:
#set operations 
# A U B --> combination of A and B values. only uniue values
# A  B --> only common things between A and B
# A - B --> things from A but not from B
# B - A --> things from B but not from A

A = {1,2,3,4}
B = {3,6,7,8}
A.intersection(B)
A.union(B)
A.difference(B)
A - B

{1, 2, 4}

In [ ]:
# given a sentence print count of unique words
# develop FLAMES game --> scrap commaon char from both names and then count remainng letters from both names so print the word when count == char length from FLAMES

In [ ]:
bbt = {'Sheldon': 1, 'Leonard': 2}
bbt.update({'Penny': 2})
print(bbt)

{'Sheldon': 1, 'Leonard': 2, 'Penny': 2}

In [ ]:
freshers = {
    'student1': {'name': 'yash', 'salary': 7500},
    'student2': {'name': 'heet', 'salary': 8000},
    'student3': {'name':'smit', 'salary': 6500}
}

In [ ]:
freshers['student3']['salary'] = 8500
print(freshers)

{'student1': {'name': 'yash', 'salary': 7500}, 'student2': {'name': 'heet', 'salary': 8000}, 'student3': {'name': 'smit', 'salary': 8500}}

In [ ]:
dict1 = {'age': 35, 'name': 'abc', 'salary': 45000}

val = dict1['age']

if val in dict1:
    print('This is a member of the dictionary')
else:
    print('This is not a member of the dictionary')

This is not a member of the dictionary

In [ ]:
set1 = {1, 2, 4}
set2 = {4, 5, 6}
print(len(set1 + set2))

TypeError: ignored

In [ ]:
a={'Aurn', 'Nikhil', 'Seeta'}
a.update("Arun")
print(a)

{'n', 'A', 'Nikhil', 'Aurn', 'Seeta', 'u', 'r'}

In [ ]:
def set_operation(sent1,sent2):
    ''' input:sent1,sent2-two sentences taken as inputs
         output:return the sum of length of unique words.'''
    
    dict_sent1 = {}
    dict_sent2 = {}
    for str1 in sent1.split():
        if str not in dict_sent1:
            dict_sent1[str1] = 1
        else:
          continue

    print(dict_sent1)

    for str2 in sent2.split():
        if str2 not in dict_sent2:
            dict_sent2[str2] = 1
        else:
            continue
    print(dict_sent2)
    
    sum = 0 
    for key in dict_sent1.keys():
        sum += dict_sent1[key]

    for key in dict_sent2.keys():
        sum += dict_sent2[key]
    
    return sum
    # YOUR CODE GOES HERE

In [ ]:
sent1 = "in data analysis we use data and process it further to create better interpreted data"
sent2 = "more and more data will be passively collected"
set_operation(sent1,sent2)

{'in': 1, 'data': 1, 'analysis': 1, 'we': 1, 'use': 1, 'and': 1, 'process': 1, 'it': 1, 'further': 1, 'to': 1, 'create': 1, 'better': 1, 'interpreted': 1}
{'more': 1, 'and': 1, 'data': 1, 'will': 1, 'be': 1, 'passively': 1, 'collected': 1}

20

In [ ]:
a ={101,102,103}
b=a.copy()
b.add(104)

In [ ]:
print(b)

{104, 101, 102, 103}

In [ ]:
d1 = {1: 50, 2: 50}
d2 = {3: 500, 4: 50}
print(d1 is d2)

False

In [ ]:
abc = {}
abc[1] = 1
abc['1'] = 2
abc[1] = abc[1] + 1
print(abc)

{1: 2, '1': 2}

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output
    array = input().split()
    array.pop(0)
    print(max(array), min(array))

if __name__ == '__main__':
    main()

5 1 2 3 4 5
5 1

In [ ]:
from collections import Counter
def FLAMES(b,g):
  try:
    bcount = dict(Counter(b))
    gcount = dict(Counter(g))
    # print(bcount, gcount)
    

    bdif = dict(bcount.items() - gcount.items())
    gdif = dict(gcount.items() - bcount.items())
    # print(bdif, gdif)

    for key in bdif:
      if key in gdif and bdif[key] > gdif[key]:
        bdif[key] = bdif[key] - gdif[key]
        del gdif[key]

    # print(bdif, gdif)
    sum = 0
    for keys, values in bdif.items():
       sum += values
    
    for keys, values in gdif.items():
      sum += values
    
    print(f"Total count of unique char in both names:{sum}")

    rank = sum%6
    # print(rank)

    # match rank:
    #   case 0:
    #     return "Both are Frinds"
    #   case 1:
    #     return "Both are in Love"
    #   case 2:
    #     return "Both has affair"
    #   case 3: 
    #     return "Both are getting Married"
    #   case 4:
    #     return "Both are Enemy"
    #   case 5: 
    #     return "both are siblings"
    if rank == 0:
       return "both are siblings"
    elif rank == 1:
       return "Both are Friends"
    elif rank == 2:
       return "Both are in Love"
    elif rank == 3:
       return "Both has affair"
    elif rank == 4:
       return "Both are getting Married"
    elif rank == 5:
       return "Both are Enemy"
  except Exception as e:
    print(e)

In [ ]:
FLAMES('Shantayya', 'Akshata')

Total count of unique char in both names:8

'Both are in Love'

In [ ]:
#practice quations: swap the case
def swap_case(s):
    swap = []
    for ch in s:
        if ord(ch) > ord('A') and ord(ch) < ord('Z'):
            swap.append(ch.lower())
        elif ord(ch) > ord('a') and ord(ch) < ord('z'):
            swap.append(ch.upper())
        else:
            swap.append(ch)
#    array = ''.join(swap)
    return (''.join(swap))

In [ ]:
swap_case("HackerRank.com presents 'Pythonist 2'.")

"haCKERraNK.COM PRESENTS 'pYTHONIST 2'."

hackerrank.com presents pythonist 2'.

In [ ]:
#Range sum query

In [ ]:
    def rangeSum(A, B):
        ps = [0]*len(A)
        ps[0] = A[0]

        for i in range(1,len(A)):
            ps[i] = ps[i-1] + A[i]
        
        print(ps)
        summ = [0]*len(B)
        for j in range(len(B)):
            if B[j][0] == 0:
                summ[j] = ps[B[j][1]]
            else:
                summ[j] = ps[B[j][1]] - ps[B[j][0]-1]
        return summ

In [ ]:
A = [1, 2, 3, 4, 5]
B = [[0, 3],[1, 2]]
rangeSum(A,B)

[1, 3, 6, 10, 15]

[10, 5]

In [ ]:
#equilibrium of index of array

In [ ]:
    def EquiIndex(A):
        ps = [0]*len(A)
        ps[0] = A[0]
        for i in range(1,len(A)):
            ps[i] = ps[i-1] + A[i]
        
        print(ps)
        count = 0
        left = [0]*len(A)
        right = [0]*len(A)
        
        for j in range(len(A)):
            if j == 0:
                left[j] = 0
            else:
                left[j] = ps[j-1]
            
            if j == len(A)-1:
                right[j] = 0
            else:
                right[j] = ps[len(A)-1] - ps[j]
            
            if left[j] == right[j]:
                count += 1
        
        print(left, right, sep='\n')
        if count == 0:
            return -1
        else:
            return count

In [ ]:
A=[-7, 1, 5, 2, -4, 3, 0]
EquiIndex(A)

[-7, -6, -1, 1, -3, 0, 0]
[0, -7, -6, -1, 1, -3, 0]
[7, 6, 1, -1, 3, 0, 0]

2

In [ ]:
A = [1, 2, 3, 7, 1, 2, 3]
EquiIndex(A)

[1, 3, 6, 13, 14, 16, 19]
[0, 1, 3, 6, 13, 14, 16]
[18, 16, 13, 6, 5, 3, 0]

1

In [ ]:
#Even numbers in range

In [ ]:
def EvenRange(A, B):
        ps = [0]*len(A)
        ps [0] = A[0]%2
        if len(A)>1:
          for i in range(len(A)):
            ps[i] = ps[i-1] + A[i]%2
        
        even = [0]*len(B)
        odd = 0
        print(ps)
        for j in range(len(B)):
            if B[j][0] == 0:
                odd = ps[B[j][1]]
                even[j] = (B[j][1]-B[j][0]+1)-odd
            else:
                odd = ps[B[j][1]] - ps[B[j][0]-1]
                even[j] = (B[j][1]-B[j][0]+1)-odd
        
        return even

In [ ]:
A = [ 6, 3, 3, 6, 7, 8, 7, 3, 7 ]
B = [ [2, 6], [4, 7], [6, 7] ]
EvenRange(A,B)

[0, 1, 2, 2, 3, 3, 4, 5, 6]

[2, 1, 0]

In [ ]:
A = [ 3 ]
B = [ [0, 0],[0, 0],[0, 0],[0, 0],[0, 0],[0, 0],[0, 0]]
EvenRange(A,B)

[1]

[0, 0, 0, 0, 0, 0, 0]

In [ ]:
# special subsequences "AG"

In [ ]:
   def subseq(A):
        count, ans = 0,0
        for i in A[::-1]:
            if i == 'G':
                count += 1
            if i == 'A':
                ans += count
        return ans

In [ ]:
A = "GUGPUAGAFQBMPYAGGAAOALAELGGGAOGLGEGZ"
subseq(A)

52

In [ ]:
print(A[::-1])

ZGEGLGOAGGGLEALAOAAGGAYPMBQFAGAUPGUG

In [ ]:
C = "GUGPUAGAFQBMPYAGGAAOALAELGGGAOGLGEGZ"
for i in C[::-1]:
  print(i,end=' ')

Z G E G L G O A G G G L E A L A O A A G G A Y P M B Q F A G A U P G U G

In [ ]:

    def Calleader(A):
        leaderarray = []
        leader = A[len(A)-1]
        leaderarray.append(leader)
        for i in range(len(A)-2,0,-1):
            if A[i] > leader:
                leader = A[i]
                leaderarray.append(leader)
        return leaderarray

In [ ]:
A = [16, 17, 4, 3, 5, 2]
Calleader(A)

[2, 5, 17]

In [ ]:
    #substring
    def subString(A):
        count = 0
        upprA = A.upper()

        for i in range(len(upprA)):
          if upprA[i] in ('A','E','I','O','U'):
            count += (len(upprA)-1)-i+1
        return count%10003

In [ ]:
A = "umTyAFwhrLqQXbWnXSn"
subString(A)

34

In [4]:
#maxpofit
def maxProfit(A):
       profit = 0
       if len(A) <= 1:
           return profit
       buy = A[0]

       for i in range(1,len(A)):
            if buy > A[i]:
               buy = A[i]
            elif A[i] - buy > profit:
                profit = A[i] - buy
       return profit

In [5]:
A = [ 7551982, 8124939, 4023780, 7868369, 4412570, 2542961, 7380261, 1164290, 7781065, 1164599, 2563492, 5354415, 4994454, 2627136, 5933501, 668219, 1821804, 7818378, 33654, 4167689, 8652323, 5750640, 9822437, 3466466, 554089, 6168826, 335687, 2466661, 8511732, 6288553, 2905889, 7747975, 3744045, 1545003, 1008624, 8041203, 7176125, 4321092, 714053, 7200073, 166697, 7814651, 3090485, 8318668, 6600364, 3352620, 2430137, 7685821, 1442555, 828955, 6540266, 5305436, 116568, 1883410, 7975347, 9629015, 4735259, 6559041, 1832532, 5840170, 6983732, 5886179, 1496505, 7241412, 144558, 9462840, 8579314, 2488436, 9677478, 7589124, 5636642, 2440601, 1767332, 2399786, 6299635, 8534665, 1367339, 805592, 5572668, 6990026, 8465261, 4808596, 7641452, 8464860, 3170126, 7403200, 6932907, 3776122, 1313688, 3992189, 2382116, 3886952, 349816, 1596435, 7353742, 9964868, 9882224, 3818546, 3885458, 1200559, 3910256, 7949895, 463872, 6392805, 9513226, 3427933, 3470571, 6225817, 552452, 5567651, 6414423, 6701681, 4725847, 894529, 8046603, 426263, 5280891, 9197661, 9764507, 1740413, 9530261, 9163599, 7561587, 5848442, 7312422, 4794268, 5793465, 5039382, 5147388, 7346933, 4697363, 6436473, 5159752, 2207985, 8256403, 8958858, 6099618, 2172252, 3063342, 4324166, 3919237, 8985768, 2703255, 2386343, 3064166, 247762, 7271683, 1812487, 7163753, 4635382, 449426, 2561592, 3746615, 8741199, 6696192, 606265, 5374062, 3065308, 6918398, 2956279, 8949324, 2804580, 3421479, 7846658, 8895839, 8277589, 1262596, 451779, 9972218, 6378556, 4216958, 7127258, 8593578, 326883, 4737513, 6578257, 7582654, 8675499, 9038961, 7902676, 8874020, 5513073, 631930, 912719, 8394492, 1508363, 455175, 9215635, 6813970, 2021710, 5673212, 184474, 4511247, 4653238, 2218883, 9669544, 295018, 3694660, 1709444, 4019025, 5047809, 45740, 1035395, 8159408, 1557286, 1304144, 6496263, 2094202, 9945315, 1905585, 1143081, 6994125, 9609830, 1077628, 3488222, 6299366, 7187139, 3883908, 7077292, 3210807, 7328762, 7695314, 1138834, 7689433, 5083719, 202831, 8138452, 5495064, 7543763, 1597085, 5429837, 8455839, 6925605, 6600884, 3571512, 3422637, 8911245, 3700762, 2338168, 6830853, 2539094, 490627, 2294717, 497349, 8297867, 7299269, 4769134, 285033, 4335917, 9908413, 152868, 2658658, 3525848, 1884044, 4953877, 8660374, 8989154, 888731, 7217408, 2614940, 7990455, 9779818, 1441488, 9605891, 4518756, 3705442, 9331226, 404585, 9011202, 7355000, 7461968, 6512552, 2689841, 2873446, 256454, 1068037, 8786859, 2323599, 3332506, 2361155, 7476810, 5605915, 5950352, 6491737, 8696129, 4637800, 4207476, 9334774, 840248, 9159149, 5201180, 7211332, 3135016, 8524857, 4566111, 7697488, 1833291, 7227481, 8289951, 2389102, 9102789, 8585135, 1869227, 4082835, 8447466, 4985240, 4176179 ]
maxProfit(A)

9938564

In [12]:
B = [ 4194445, 5755801, 2855639, 4681951, 642183, 9606207, 6539770, 2929563, 2371075, 2065991, 4734767, 3035028, 9844237, 9859030, 5366228, 7126800, 3093826, 2064333, 4794134, 6009455, 1554282, 1141024, 9008908, 5564577, 5670584, 3701388, 305389, 9988838, 7607445, 8689404, 4606240, 721493, 8358372, 7969247, 2005188, 9381407, 9640526, 1257732, 3128856, 5674956, 7212588, 5699639, 3391536, 9223297, 303612, 246025, 4664705, 5533721, 1254106, 6723049, 7092956, 9115027, 4029515, 8682821, 3075505, 2455402, 8685967, 7823073, 8138079, 5223844, 7204268, 8388370, 4932424, 1163737, 5251626, 5026560, 5050075, 444693, 8416089, 6533127, 8849938, 9195466, 6912747, 318446, 2255659, 1324379, 1091239, 7558075, 9314612, 7170906, 3222755, 3626629, 184898, 4602309, 1596067, 2979905, 5350257, 2919884, 9904801, 722970, 8136001, 1391045, 6414844, 2205953, 4755182, 2798289, 5134693, 9826047, 432014, 6805799, 6827969, 7032606, 4696237, 5731657, 2733376, 4768391, 2782129, 4632527, 4485247, 9064703, 3372660, 9420437, 4193640, 2612882, 2867493, 8068152, 3907859, 124864, 5942858, 5168681, 5242568, 474474, 8675032, 1368145, 5358739, 4107643, 1657155, 9175880, 8535311, 8277280, 7462655, 5984330, 7676367, 498783, 9495820, 3076391, 3546466, 3806366, 1312460, 652185, 9729605, 2472157, 913603, 78321, 7611113, 6599149, 4055264, 8831043, 2431665, 6773353, 262124, 8150637, 3198010, 9990139, 811941, 7829764, 5725450, 223476, 4615776, 9894103, 5906398, 906269, 3967342, 1543460, 4301996, 1787414, 8254232, 1789655, 4230800, 5969792, 905489, 3258010, 9454136, 4249389, 6467504, 6519664, 4001349, 5026632, 5014202, 6667981, 3817855, 5034444, 6930070, 1349637, 1035425, 9252606, 6607642, 2524617, 1006652, 3528601, 2690079, 9721966, 4199938, 5762348, 128435, 4118901, 6892353, 2989545, 666501, 5888056, 8654317, 4248490, 762635, 5111086, 5764247, 1866872, 4293692, 9257206, 6891118, 6087668, 941907, 8810109, 6646582, 3630739, 446420, 351840, 4011717, 3143139, 7749114, 6392659, 9048202, 7016084, 2382421, 4446109, 8485561, 5782000, 3949229, 5221723, 8561121, 9303285, 1543066, 6108565, 2722519, 7758442, 6163843, 2755475, 1023498, 5443927, 312752, 9196009, 3221496, 2914945, 2653161, 4489388, 1959263, 5623432, 9971827, 3785009, 7319090, 7630374, 5217607, 8044924, 8769872, 8185537, 1597610, 7814177, 1029537, 7567770, 2258460, 5576548, 482655, 2612813, 3224455, 2585241, 1092094, 9877649, 7498080, 5699558, 2951043, 6086409, 9542232, 661452, 5836164, 4345098, 8307895, 6637498, 6272548, 6046123, 3646645, 774039, 2892326, 8990224, 7423970, 1974660, 2915143, 3225108, 7089874, 6573037, 562334, 4269980, 489996, 1186345, 8226531, 816581, 768322, 8850738, 4660865, 816794, 6128349, 9412437, 8816780, 8379353, 3537553, 4864852, 5573468, 79518, 6575334, 7596536, 6889113, 9602795, 6640332, 2332107, 6535110, 7488014, 9995147, 3170250, 5091560, 1360125, 7509497, 1121503, 7358828, 4794661, 7027205, 3332651, 9573810, 4093855, 7576965, 2998873, 7914729, 1092664, 1802541, 8724368, 558214, 2857902, 2716188, 2003935, 7168482, 6012254, 3643378, 6074238, 6647950, 6389831, 5109285, 866253, 381182, 1164871, 6275734, 1373355, 7017631, 5325732, 255703, 8151488, 9133852, 5909110, 3275900, 6061125, 475435, 3611189, 2999139, 4638073, 8973840, 2561265, 3769187, 6653732, 8312926, 8824383, 1472759, 4821429, 1483913, 862658, 5331434, 5223163, 9257756, 1027441, 4445934, 8306958, 9852026, 203971, 5610515, 9554829, 2882366, 5159575, 5463819, 2912256, 1762629, 2822314, 1863502, 3884780, 3574742, 8568504, 1253111, 503241, 6109333, 7496262, 7489733, 4319399, 9349740, 3945259, 8884655, 7607110, 8608523, 4386536, 9292660, 9617100, 5400748, 5880352, 8878708, 4242669, 7471856, 7150688, 9502486, 3485539, 2421557, 1965130, 7403648, 8796538, 6717060, 259999, 6321534, 2791184, 4094667, 4931963, 1782625, 497135, 931841, 7789116, 9062312, 1314376, 4186203, 2781984, 6351555, 6433207, 5584677, 6332921, 1563685, 1553136, 2297922, 8427601, 1826430, 3253257, 1884767, 5263589, 7242437, 4136563, 2669239, 4890360, 7994097, 3243588, 3024004, 6227582, 4667341, 5951200, 7625344, 5601489, 525262, 9273359, 6532814, 5958471, 4875336, 1980311, 2047533, 1693741, 5059206, 1441267, 8561945, 9413927, 267932, 9767893, 5708235, 8490874, 5875232, 4514791, 122809, 8169308, 5485225, 1258832, 6423197, 7401453, 63428, 6242952, 3935999, 5627757, 7677399, 7549112, 7071403, 1269499, 6408877, 4263892, 2386645, 2142089, 9680907, 8958646, 787007, 7100373, 3563871, 9002573, 369222, 2707131, 9279796, 2847105, 7396262, 8662258, 2403065, 8174614, 5792694, 6292058, 3741998, 2806982, 9193909, 4390354, 5450971, 9800176, 9442318, 848643, 3667121, 6013064, 7078994, 864441, 2124755, 987795, 3904413, 4436411, 3207605, 4372015, 400985, 3196209, 8094432, 1053017, 710448, 349168, 6789123, 7444730, 3441905, 3933247, 6882550, 6867729, 9164628, 165786, 716556, 1109737, 3671507, 6671443, 1236642, 1664765, 9329820, 5442137, 6931445, 3808660, 2034565, 8492007, 1031792, 2348823, 7364453, 4999931, 4322960, 8340199, 639089, 135093, 4657084, 8368461, 8517539, 6231696, 8261869, 8247731, 7867767, 7266041, 6158750, 7335486, 8035170, 4269642, 7393800, 7019543, 4434206, 3330723, 6580929, 4449142, 8067766, 3682033, 3698348, 3067274, 9752295, 1121939, 7713186, 1157402, 2462787, 8355113, 3140410, 3159795, 1928352, 5335266, 5919865, 505504, 2750149, 2786405, 2165156, 7275716, 2443565, 7820731, 3257234, 3943777, 3295474, 173055, 6809788, 6093159, 264240, 3204306, 9165393, 6552803, 8654172, 2492684, 2467027, 126724, 6043336, 3988090, 1145326, 9919194, 4786559, 1544896, 9566382, 6783344, 9457825, 8712145, 5598821, 2627075, 7848949, 4073282, 5164981, 5966346, 4412603, 7695179, 9612711, 3863295, 6957529, 7419982, 7950638, 9746913, 8971977, 6977344, 7509979 ]
maxProfit(B)

9931719

In [13]:
C = [8,8,8,8,8]
maxProfit(C)

0

In [30]:
A = [ 654, 50, 694, 750, 712, 275, 736, 146, 279, 816, 707, 396, 406, 589, 370, 742, 840, 290, 505, 23, 249, 447, 618, 80, 968, 189, 600, 662, 91, 604, 575, 689, 72, 196, 475, 198, 850, 844, 361, 419, 617, 911, 268, 628, 408, 404, 477, 921, 478, 806, 204, 637, 403, 911, 589, 529, 867, 584, 768, 257, 437, 380, 698, 452, 368, 97, 977, 582, 775, 103 ]
length = len(A)
half = len(A)//2
print(length, half)
print(A[0], A[(len(A)//2)-1], A[len(A)//2], A[len(A)-1])

for i in range(len(A)):
  print(i, "-->", A[i])
B = [A[i] for i in range(len(A)-1,-1,-1)]
print(B)

70 35
654 475 198 103
0 --> 654
1 --> 50
2 --> 694
3 --> 750
4 --> 712
5 --> 275
6 --> 736
7 --> 146
8 --> 279
9 --> 816
10 --> 707
11 --> 396
12 --> 406
13 --> 589
14 --> 370
15 --> 742
16 --> 840
17 --> 290
18 --> 505
19 --> 23
20 --> 249
21 --> 447
22 --> 618
23 --> 80
24 --> 968
25 --> 189
26 --> 600
27 --> 662
28 --> 91
29 --> 604
30 --> 575
31 --> 689
32 --> 72
33 --> 196
34 --> 475
35 --> 198
36 --> 850
37 --> 844
38 --> 361
39 --> 419
40 --> 617
41 --> 911
42 --> 268
43 --> 628
44 --> 408
45 --> 404
46 --> 477
47 --> 921
48 --> 478
49 --> 806
50 --> 204
51 --> 637
52 --> 403
53 --> 911
54 --> 589
55 --> 529
56 --> 867
57 --> 584
58 --> 768
59 --> 257
60 --> 437
61 --> 380
62 --> 698
63 --> 452
64 --> 368
65 --> 97
66 --> 977
67 --> 582
68 --> 775
69 --> 103
[103, 775, 582, 977, 97, 368, 452, 698, 380, 437, 257, 768, 584, 867, 529, 589, 911, 403, 637, 204, 806, 478, 921, 477, 404, 408, 628, 268, 911, 617, 419, 361, 844, 850, 198, 475, 196, 72, 689, 575, 604, 91, 662, 600, 189, 968, 80, 618, 447, 249, 23, 505, 290, 840, 742, 370, 589, 406, 396, 707, 816, 279, 146, 736, 275, 712, 750, 694, 50, 654]

In [50]:
#find maxsum by picking value from both sides fo array
def findMax(A, B):
        # case1: all B elements from left

        sum1, finalSum = 0,-10**9
        for i in range(B):
            sum1 += A[i]
        
        print(sum1)
        Back = B - 1
        print(Back)
        finalSum = max(finalSum,sum1)
        for j in range(len(A)-1,len(A)-B-1,-1):
            sum1 = sum1 - A[Back]
            sum1 += A[j]
            finalSum = max(finalSum,sum1)
            Back -= 1
        return finalSum

In [51]:
A = [ -969, -948, 350, 150, -59, 724, 966, 430, 107, -809, -993, 337, 457, -713, 753, -617, -55, -91, -791, 758, -779, -412, -578, -54, 506, 30, -587, 168, -100, -409, -238, 655, 410, -641, 624, -463, 548, -517, 595, -959, 602, -650, -709, -164, 374, 20, -404, -979, 348, 199, 668, -516, -719, -266, -947, 999, -582, 938, -100, 788, -873, -533, 728, -107, -352, -517, 807, -579, -690, -383, -187, 514, -691, 616, -65, 451, -400, 249, -481, 556, -202, -697, -776, 8, 844, -391, -11, -298, 195, -515, 93, -657, -477, 587 ]
B = 81
findMax(A,B)

-6453
80

-5453

In [4]:
#evenSubarray
def EvenArray(A):
        
        i = 0
        j = len(A)
        if j%2 == 0 and A[i]%2 == 0 and A[j-1]%2 == 0:
             return "YES"            
        else:   
             return "NO"

In [5]:
A = [ 654, 50, 694, 750, 712, 275, 736, 146, 279, 816, 707, 396, 406, 589, 370, 742, 840, 290, 505, 23, 249, 447, 618, 80, 968, 189, 600, 662, 91, 604, 575, 689, 72, 196, 475, 198, 850, 844, 361, 419, 617, 911, 268, 628, 408, 404, 477, 921, 478, 806, 204, 637, 403, 911, 589, 529, 867, 584, 768, 257, 437, 380, 698, 452, 368, 97, 977, 582, 775, 103 ]
EvenArray(A)

'NO'

In [6]:
# #Bulbs :
# A wire connects N light bulbs.

# Each bulb has a switch associated with it; however, due to faulty wiring, a switch also changes the state of all the bulbs to the right of the current bulb.

# Given an initial state of all bulbs, find the minimum number of switches you have to press to turn on all the bulbs.

# You can press the same switch multiple times.

# # Note: 0 represents the bulb is off and 1 represents the bulb is on.

In [9]:
def bulbs(A):
		count = 0
		for i in range(len(A)):
			if A[i] == 0:
				count += 1
				for j in range(i,len(A)):
					if A[j] == 0:
						A[j] = 1
					else:
						A[j] = 0
		return count

In [10]:
A = [0, 1, 0, 1]
bulbs(A)

4

In [27]:
def bulbs1(A):
	count = 0
	for i in range(len(A)):
        if A[i] == 1 and count%2 == 0:
          continue
        elif A[i] == 1 and count%2 != 0:
          count += 1
        elif A[i] == 0 and count%2 == 0:
          count += 1
        else:
          continue
	return count

TabError: ignored

In [15]:
A = [0, 1, 0, 1]
bulbs1(A)

4