<a href="https://colab.research.google.com/github/Shantayya/Python-Projects/blob/main/Scaler_Python_Beginner_Refresher_Batch2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [ ]:
print('Hello World')

Hello World

In [ ]:
print(10+20)

30

In [ ]:
print('10+20')

10+20

In [ ]:
 ## Comment

In [ ]:
a = 10.0
print(type(int(a)))

<class 'int'>

In [ ]:
print(int(a))

10

In [ ]:
print?

In [ ]:
# day1 
# data types (int, float, string, boolean)
# type casting
# sep and end (in print syntax)
# var 
# input()
# day1 Assignment

In [ ]:
A = input("Please enter number A: ")
B = input("Please neter number B: ")
print(A,B, sep='')

Please enter number A: 10
 Please neter number B: 20
1020

In [ ]:
A = input()
B = input()
print( A, "says Hi to", B)

ram
Shyam
ram says Hi to Shyam

In [ ]:
A = input()
print("Hello ", A)

Ram
Hello  Ram

In [ ]:
print('A','B', 'C', 'D', 'E',sep="\n")

A
B
C
D
E

In [ ]:
A = int(input("Provude time (in minutes), the lasagna has been in the oven"))
print("Lasagna needs", 40-A, "more minutes to bake")

Provude time (in minutes), the lasagna has been in the oven10
Lasagna needs 30 more minutes to bake

In [ ]:
# Day2
# Arithmatic operators (Add,sub,mul,div,mod, floor div (//), power (**))
# int/float + bool = int/float
# str + bool = error
# str - str = error
# str * int = str example: "hello" * 3 = hellohellohello
# floor div => 3/2 = 1.5 so answer is 1  -> 3//2 =1

# comparison operator(==, !=) can compare anything with anything.
#  <, >, <=, >= str cannnot be compared with int using <, >, <=, >=
#  and , or and not (unary) operator
# not F = True, not true = False 

# conditional statement (if, else, elif)
# operator hierarchy
# (), **, (*,/,//,% left to right), (+,-), (==, !=), (<, <=, >, >==), not, and, or

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output
    A = int(input())
    B = int(input())
    if (A > B):
        print(A)
    else:
        print(B)

    return 0

if __name__ == '__main__':
    main()

10
9
10

In [ ]:
print("1" == 1)

False

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output
    A = eval(input())
    value = 1
    count = 1
    while count <= 10:
        value = A * count
        print(A, "*", count, "=", value, sep=' ')
        count += 1
    return 0

if __name__ == '__main__':
    main()

6.5
6.5 * 1 = 6.5
6.5 * 2 = 13.0
6.5 * 3 = 19.5
6.5 * 4 = 26.0
6.5 * 5 = 32.5
6.5 * 6 = 39.0
6.5 * 7 = 45.5
6.5 * 8 = 52.0
6.5 * 9 = 58.5
6.5 * 10 = 65.0

In [ ]:
    # YOUR CODE GOES HERE
    m1 = int(input())
    m2 = int(input())
    m3 = int(input())
    m4 = int(input())
    m5 = int(input())
    per = 0.0
    total = m1 + m2 + m3 + m4 + m5
    per = int((total/500)*100)
    if (per >= 90):
        print("A")
    elif (per >= 80):
        print("B")
    elif (per >= 70):
        print("C") 
    elif (per >= 60):
        print("D") 
    elif (per >=40):
        print("E")
    elif (per < 40):
        print("F")

50
60
70
80
90
C

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output
    A = (3+4) // 2+6
    print(A)
    return 0

if __name__ == '__main__':
    main()

9

In [ ]:
#Day3 control statement
# while loop
# eval funtion is used for dynamic typecasting

In [ ]:
import sys
sys.version

'3.7.15 (default, Oct 12 2022, 19:14:55) \n[GCC 7.5.0]'

In [ ]:
sys.builtin_module_names

('_abc',
 '_ast',
 '_bisect',
 '_blake2',
 '_codecs',
 '_collections',
 '_datetime',
 '_elementtree',
 '_functools',
 '_heapq',
 '_imp',
 '_io',
 '_locale',
 '_md5',
 '_operator',
 '_pickle',
 '_posixsubprocess',
 '_random',
 '_sha1',
 '_sha256',
 '_sha3',
 '_sha512',
 '_signal',
 '_socket',
 '_sre',
 '_stat',
 '_string',
 '_struct',
 '_symtable',
 '_thread',
 '_tracemalloc',
 '_warnings',
 '_weakref',
 'array',
 'atexit',
 'binascii',
 'builtins',
 'cmath',
 'errno',
 'faulthandler',
 'fcntl',
 'gc',
 'grp',
 'itertools',
 'marshal',
 'math',
 'posix',
 'pwd',
 'pyexpat',
 'select',
 'spwd',
 'sys',
 'syslog',
 'time',
 'unicodedata',
 'xxsubtype',
 'zipimport',
 'zlib')

In [ ]:
import os
print(os.name)

posix

In [ ]:
os.mkdir("/content/shantayya")

FileExistsError: ignored

In [ ]:
os.getcwd()

'/'

In [ ]:
os.chdir("..")

In [ ]:
#day4 
# ()- exlcusive []- inclusive
# (0-5) mean 1,2,3,4  [1,5]- means 1,2,3,4,5
# range(n) - returns numbers from 0 to n-1 example: range(5) -> 0,1,2,3,4
# range(start, end) - returns a seq from start til end-1 with jump +1 example: range(1,5) -> 1,2,3,4
# range(start,end,jump) -> returns a seq from start til end-1 with jump specified. example: range(2,10,2) -> 2,4,6,8
# example: range(1,5,-1) -> does nothing
# iterable: range, enumerate, list, set, disctionary etc. we need iterator to print iterables
# iterables: a container of seq in python Iterator -> variable which holds current value

# Note: range() is used for int only

# for iterabtor in iterable:  example: for i in range(5): print(i, end=' ')
# Homework: 
# 1. print the digit 469 in the same order
# 2. print  * * * * *
#           * * * *
#           * * *
#           * * 
#           *
# 3. reverse staircase pattern
#                *
#              * *
#            * * *
#          * * * *
#        * * * * *      
# diff btween while and for loop
# for loop              vs        while loop
# not generic                     generic. can do many things as what for loop do. but vice versa is not possible
# easy                            not that much easy
# run for entire range             based on condition

In [ ]:
for i in range(1,5):
  if i%2 == 0:
    pass    # pass is just a filler. wont do anything. if we write continue then it will skip the 2 and 4
  print(i)

1
2
3
4

In [ ]:
x = 2
for i in range(0, 4):
  if x%2:
    x = x*2
    print(x)
  else:
    x = x+1
    print(x)

3
6
7
14

In [ ]:
x = 1
for i in range(x):
  x = x + 1
  print(i, end=' ')

0

In [ ]:
 a = 0
 while True:
   a = a + 5
   a %= 5
   a = a + 5
   if a == 5:
     break

In [ ]:
row = int(input())
col = int(input())

for i in range(row, 0, -1):
  for j in range(i):
    print("*", end=' ')
  print()

5
5
* * * * *
* * * *
* * *
* *
*

In [ ]:
row = int(input())
col = int(input())

for i in range(row):
  for j in range(col-i):
      print(' ',end=' ')
  print('*')

2
2
    *
  *

In [ ]:
N = int(input())
q = N//10
N %= 10
print(q, N, sep='')

12345
12345

In [ ]:
N = int(input())
num = N
count = 0
while N > 0:
  num = N % 10
  N = N // 10
  print(num,end='')
  count += 1
print('\n',count)

1234
4321
 4

In [ ]:
A = int(input())
if (A%400 == 0):
  print("leap")
elif (A%100 == 1) and (A%4 == 0):
  print("leap")
else:
  print("not")

500
not

In [ ]:
 N = int(input())
 for i in range(1,N+1):
     for j in range(1,i+1):
        print(j,end=' ')
     print()

50
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10 11
1 2 3 4 5 6 7 8 9 10 11 12
1 2 3 4 5 6 7 8 9 10 11 12 13
1 2 3 4 5 6 7 8 9 10 11 12 13 14
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [ ]:
    N = int(input())
    for i in range(N+1, 1, -1):
        for j in range(1,i):
            print(j,end=' ')
        print()

4
1 2 3 4
1 2 3
1 2
1

In [ ]:
    N = int(input())
    for j in range(N):
        for i in range(N+1):
           if i in range(N-j):
             print(end=' ')
           else:
             print("*",end='')
        print()

4
    *
   **
  ***
 ****

In [ ]:
i=0
while i<=5:
     if i%2:
        pass
     else:
        print(i, end=" ")
     i+=1

0 2 4

In [ ]:
i=2
if i==2:
    i+=1
for j in range(i):
    i+=1
    pass
    break

print(i)

6

In [ ]:
n=8
while n>=0:
   n -= 2
   if n%2==0:
       continue
   print(n, end=" ")
#else:
#   print("Exec", end=" ")

In [ ]:
x = int(input())
y = int(input())
q, r = 0, 0

while x>=y:
    x-=y
    q+=1
print(q, x)

5
2
2 1

In [ ]:
i=0
if i==0:
   pass
   print(i, end=" ")
i+=1
print(i, end=" ")

0 1

In [ ]:
    T = int(input())
    for i in range(T):
        count = 1
        j = int(input())
        while j >= 10:
          j //= 10
          count += 1
        print("count", count)

2
555502
count 6
555502
count 6

In [ ]:
    T = int(input())
    for i in range(T):
        sum = 0
        I = int(input())
        while I > 0:
            r = I % 10
            I //= 10
            sum += r
        print(sum)

1
15281
17

In [ ]:
# day 5 functions
# argument -> what is been passed while calling a function is called argument
# parameter -> variable been used in function and which is used to store the value 

#Note: while passing the arrugment dev should be aware of order of passing parameter.
# scope of varibale is limited to function only. outside when refernced it will throw error. 
# you can't have default argument before non-default argument example: def example(a,b,c=20,d) --> not allowed  def example(b,c,a=20)--> allowed
# in above function parameter b,c -> non default argument and c=20 is default argument

# while calling --> def example(a, b, c=10) --> abc are positional arguments where as example(10, b=50, c=50) --> here b and c are keyword arguments
# here keyword argument can't come before positional argument.

# function execution stops at return statement like break in for loop
# 1. is_prime(n) or not with return statement

In [ ]:
def call_name(name, age):
  print(name, age)

call_name(23,"mohit")

23 mohit

In [ ]:
def convert(t):
    return t*9/5 + 32

print(convert(20))

68.0

In [ ]:
def celsius_farhen(Celsius):
    ans = Celsius*9/5 + 32
    return round(ans,2)

In [ ]:
celsius_farhen(30)

86.0

In [ ]:
def simple_int(time,pa,ir):
    ''' time, pa, ir represents the time in number of days, principal amount and rate of interest
        Return the simple interest'''
    ans = 0
    # YOUR CODE GOES HERE
    years = (time / 365) + (time % 365)
    print(years)
    SI = (pa * ir * years)/100
    ans = SI + pa

    return round(ans,2)

In [ ]:
simple_int(365,9172,5.6)

1.0

9685.63

In [ ]:
def road_tax(price):
    tax = None
    # YOUR CODE GOES HERE
    if price > 100000:
      tax = price * (20/100)
      return round(tax,1)
    elif price > 75000 and price <= 100000:
      tax = price * (15/100)
      return round(tax,1)
    elif price > 50000 and price <= 75000:
      tax = price * (10/100)
      return round(tax,1)
    elif price <= 50000:
      tax = price * (5/100)
      return round(tax,1)

In [ ]:
road_tax(25000)

1250.0

In [ ]:
def sequence(n):
    '''input: n = A single integer for the range where n is inclusive
       output: First Print from 1 to N and new line Print from N to 1'''
    for i in range(1,n+1):
        print(i, end=' ')
    print()
    print()
    for j in range(n,0,-1):
      print(i, end=' ')

In [ ]:
sequence(5)

1 2 3 4 5

5 5 5 5 5

In [ ]:
def is_prime(n):
  for i in range(2,n):
    if n%i == 0:
      print("not prime")
      return 0
    else:
      print("prime")
      return 0

In [ ]:
is_prime(91)

prime

0

In [ ]:
def swap(a,b):
  print('a=', a,'b=', b)
  a = a + b
  b = a- b
  a = a- b
  print('a=', a, 'b=', b)

In [ ]:
swap(2,3)

a= 2 b= 3
a= 3 b= 2

In [ ]:
def armstrong(n):
  count = 0
  r, rem = 0, 0
  sum = 0
  num, number = n, n
  while n > 0:
    r = n % 10
    n = n // 10
    count += 1

  while num > 0:
    rem = num % 10
    num = num // 10
    sum += (rem**count)

  if number == sum:
    print("Armstrong")
  else:
    print("Not Armstrong")

In [ ]:
armstrong(153)

Armstrong

In [ ]:
def pattern(n):
  for i in range(n):
    for j in range(n):
      if j == 0 or i == (n-1) or i == j:
        print("*", end='')
      else:
        print(end=" ")
    print()

def ulta_pattern(n):
  for i in range(n):
    for j in range(n):
      if i == 0 or j == (n-1) or i == j:
        print("*", end='')
      else:
        print(end=" ")
    print()

In [ ]:
ulta_pattern(5)

*****
 *  *
  * *
   **
    *

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output
    T = int(input())
    last, first, j = 0, 0, 0
    count = 0
    for i in range(T):
        j = int(input())
        num = j
        
        while j > 0:
          first = j % 10
          j = j // 10
          count += 1
          break
#        print(first)

        while j > 0:
          last = j % 10
          j = j // 10
          count += 1

        if count == 1:
          print(first, first, sep=' ')  
        else:
          print(last, first, sep=' ')      
    return 0

if __name__ == '__main__':
    main()

1
1
1 1

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output
    T = int(input())
    last, first, j = 0, 0, 0
    for i in range(T):
        j = int(input())
        
        while j > 0:
            last = j % 10
            j = j // 10
            break
        
        while j > 0:
            first = j % 10
            j = j // 10

        print(first, last, sep=' ')
    return 0

if __name__ == '__main__':
    main()

1
29473
2 3

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output
    T = int(input())
    last, first, j = 0, 0, 0

    for i in range(T):
        count = 0
        j = int(input())
        
        while j > 0:
            last = j % 10
            j = j // 10
            count += 1
            break
        
        while j > 0:
            first = j % 10
            j = j // 10
            count += 1
        
        if count == 1:
            print(last, last, sep=' ')
        else:
            print(first, last, sep=' ')
    return 0

if __name__ == '__main__':
    main()

2
1
1 1
2
2 2

In [ ]:
class Solution:
    def solve(self, A):
        q, r, sum, = 0, 0, 0
        count = 0
        num, arm = A, A
        while A > 0:
            A = A // 10
            count += 1
        
        while num > 0:
            q = num % 10
            num = num // 10
            sum += (q**count)
        
        if sum == arm:
            return 1
        else:
            return 0

In [ ]:
obj = Solution()

In [ ]:
obj.solve(123)

0

In [ ]:
def ulta_pyramid(n):
  for i in range(n, 0, -1):
    space = (n+1) - i
    for j in range(i):
      print("*", end=' ')
    print()
    for k in range(space):
      print(end=' ')

In [ ]:
ulta_pyramid(5)

* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
# day6 - List -> ordered collection of elements
# indexing in list-> for a list with n elements we have n-1 index + index are always integers
# index start with 0,1,2,3,...etc
# python gives reverse index like -1(last element),-2,-3,....etc 

# reverse index-7    -6    -5    -4    -3    -2    -1
#list           A     B     C     D     E     F     G
# indexing      0     1     2     3     4     5     6

# updating index in the list   students.append("Shantayya") or students[2]="shan"
#iteration through list -> for index in range(0,7) -> print(index)

In [ ]:
students = ["Shan", "Shnkar", "Somnath", "Rahul", "Dayal"]

In [ ]:
students.pop()
print(students)

['Shan', 'Somnath', 'Rahul']

In [ ]:
students.append("Swami")
print(students)

['Shan', 'Somnath', 'Rahul', 'Swami', 'Swami']

In [ ]:
for i in students:
  print(i)

Shan
Somnath
Rahul
Swami

In [ ]:
# print names starting from first
length = len(students)
for i in range(length):
  if i%2 != 0:
    print(students[i])

Somnath
Swami

In [ ]:
# funtions in list
# del list[index]
# len(), append(), insert(index,value,insertbefore), pop(default last), remove()--> it will remove value but wil not return anything + it always remove first value
students.insert(4,"somnshanlkar")

In [ ]:
print(students)

['Shan', 'Somnath', 'Rahul', 'Swami', 'somnshanlkar', 'Swami']

In [ ]:
#if we put index which does not exist then it wil insert after last index which is before given index
#for example:  we have index 0,1,2,3,4,5 in students if we do students.insert(100,"last") --> then it will insert after 5th index which is before 100
students.insert(100,"last") 
print(students)
students.insert(-100,"first")   #--> -1 shows first index from right
print(students)

['Shan', 'Somnath', 'Rahul', 'Swami', 'somnshanlkar', 'Swami', 'last', 'first', 'last', 'last']
['first', 'Shan', 'Somnath', 'Rahul', 'Swami', 'somnshanlkar', 'Swami', 'last', 'first', 'last', 'last']

In [ ]:
# reverse() -> does not take any argument or return anything but reverses the whole list
students.reverse()
print(students)

['last', 'last', 'first', 'last', 'Swami', 'somnshanlkar', 'Swami', 'Rahul', 'Somnath', 'Shan', 'first']

In [ ]:
# + operator -> used to merge the list or join two lists
staff = ["teacher", "peaun", "cleaner", "headmaster"]
college = students + staff
print(college)

['last', 'last', 'first', 'last', 'Swami', 'somnshanlkar', 'Swami', 'Rahul', 'Somnath', 'Shan', 'first', 'teacher', 'peaun', 'cleaner', 'headmaster']

In [ ]:
# extend() --> used to add nw list to existing one
students.extend(staff)
print(students)

['last', 'last', 'first', 'last', 'Swami', 'somnshanlkar', 'Swami', 'Rahul', 'Somnath', 'Shan', 'first', 'teacher', 'peaun', 'cleaner', 'headmaster']

In [ ]:
# in operator --> return bool value if value exists in list
print("shan" in students)  # python is case sensitive language so shan != Shan
print("Shan" in students)

False
True

In [ ]:
# split(seperator) --> used to split words from sentence and returns as list
sentence = "This is Shantayya from Pune"
words = sentence.split(" ")
print(words)

['This', 'is', 'Shantayya', 'from', 'Pune']

In [ ]:
# how to take list as input 1. we can use for loop 2. we can use split function and then print list
name = []
for i in range(5):
  name.append(input())
print(name)

1
shantayya
swami
shankar
somnath
['1', 'shantayya', 'swami', 'shankar', 'somnath']

In [ ]:
name = input()
name = names.split(",")
print(name)

shantayya,sonnath,som,shankar
['shnatayya', 'shankar', 'somnath', 'swami']

In [ ]:
def calculate_sum(input_list):
    # Write your code here, no need to take input
    # Input argument: input_list
    # Return: sum of elements in input_list

    sum = 0
    A = []
    for i in input_list:
        A.append(int(i))
    
    for i in A:
      sum += i
    print(sum)

In [ ]:
calculate_sum(input().split(" "))

1 2 3 4
10

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output

    A = int(input())
    array = list(map(int, input().split()[:A]))
    
#    for i in range(len(array)):
#       array[i] = int(array[i])
    
    index = int(input())
    array.pop(index-1)
#    [print(i, end=' ') for i in array]
    print(array)

    return 0

if __name__ == '__main__':
    main()

4
20 100 300
2
[20, 300]

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output
    array = input().split(" ")
    x = int(input())
    y = int(input())

    array.insert(y,x)
    print(array)
    return 0

if __name__ == '__main__':
    main()

1 2 3 4 5
6
5
['1', '2', '3', '4', '5', 6]

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output
    A = list(int(i) for i in input().split())
    A.reverse()
    [print(i,end=' ') for i in A]
    return 0

if __name__ == '__main__':
    main()

10 20 30 40 59 60
60 59 40 30 20 10

In [ ]:
def first_multiple(ls,x):
    ans = -1
    ''' input:ls-List of elements and x-indicates the integer
         output:Return ans from the list that is divisible by x'''
    is_multiple = False
    # YOUR CODE GOES HERE
    for i in ls:
      if i%x == 0:
        is_multiple = True
        break
    
    if is_multiple == True:
      print(i)
    else:
      return ans

In [ ]:
A = [1, 2, 4, 5, 6]
x = 4
first_multiple(A, x)

4

In [ ]:
x = [1, 2]
y = [2, 3]

for i in x:
    for j in y:
        print(i, j, end= " ")

1 2 1 3 2 2 2 3

In [ ]:
# day 7 list-II
# for -else or while-else
# use list.index(val) --> to print index at which number is found -> returns the fist occuance of value

In [ ]:
# check given item exists in list
A = int(input())
array = [1, 2, 3, 4]

if A in array:
    print("found at",array.index(A))
else:
    print("Not Found")

4
found at 3

In [ ]:
A = int(input())
array = (int(i) for i in input().split())
found = False
for item in array:
  if A is item:
    print("Found")
    found = True
    break
if (not found):
  print("Not found")

2
1 2 3 4
Found

In [ ]:
# enumerate function: works like range function however it accepts index, iterable
A = int(input())
array = (int(i) for i in input().split())

for index, marks in enumerate(array):
  if marks == A:
    print("found at", index)
    break
else:
  print("Not Found")

2
1 2 3 4 5
found at 1

In [ ]:
# built in functions max(iterable or variables) min(iterables), sum(iterbales) --> does not work with empty list
Array = (int(i) for i in input().split())
print(max(Array))

1 2 3 4 100 900 8190
8190

In [ ]:
# sliciing -> sub array or sb sequence list[start:end] --> default values are start-> 0, end-1-> len(list), jump -> +1 and end is exlusive
# example: list [1,2,3,4]
# list[1:3] --> [2,3]  --> slicing always returns list []
# note: slicing never includes -ve to +ve or +ve to -ve   --> list[-1,4]

In [ ]:
slicing = [1,2,3,4,5]
print(slicing[-1:2])   #--> if start is -ve and end - +ve then we will convern in eaither -ve or +ve so converting -1 index to +ve it will be 4

# +ve index     0  1   2   3   4
# list          1  2   3   4   5
#-ve index     -5 -4  -3  -2  -1

[]

In [ ]:
print(slicing[-50:200])  #--> whenever start is too low (start<-len(list)), slicing start with 0 and when end is too high then slicing goes till len or end-1 only.

[1, 2, 3, 4, 5]

In [ ]:
# slicing[::-1] --> whenever jump is -ve  and start and end is not given then slicing starts from right to left --> special reverse case
print(slicing[::-1])

5 4 3 2 1

[None, None, None, None, None]

In [ ]:
#assignment : right shift an array 
shift = [1,2,3,4,5]
a = shift.pop(0)
shift.append(a)
print(shift)

[2, 3, 4, 5, 1]

In [ ]:
array = [1,2,1,3,2]
print(array[1:] + array[0:1])

[2, 1, 3, 2, 1]

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output

    N = list(map(int,input().split()))
    N.pop(0)
    print(max(N), min(N), sep=' ')
    return 0

if __name__ == '__main__':
    main()

1000 461 503 925 377 559 119 46 260 381 100 268 123 794 514 590 941 116 242 973 319 325 725 569 46 550 897 608 527 727 932 25 539 434 301 915 344 419 961 603 799 312 223 273 106 88 863 398 556 456 370 874 780 446 794 825 996 43 784 522 769 715 898 659 501 198 574 844 969 886 799 767 549 373 40 6 460 254 404 15 709 125 240 840 571 34 16 566 76 799 439 196 514 336 854 366 885 779 209 853 664 7 972 213 379 363 570 191 616 973 205 676 98 445 515 20 830 530 585 905 680 375 100 545 62 305 910 946 84 471 151 99 477 122 311 208 484 233 398 99 205 954 774 654 750 640 673 579 521 609 483 200 983 934 97 44 591 6 342 674 476 492 772 305 613 435 864 448 667 613 546 223 566 671 877 316 310 549 246 830 510 81 381 492 14 477 888 604 835 581 629 310 72 401 966 36 835 829 483 853 441 380 75 359 50 303 26 711 852 271 892 713 351 624 204 717 101 443 672 935 23 301 596 446 53 562 833 239 742 667 91 535 46 165 245 447 468 270 509 671 892 400 383 243 24 938 311 476 733 982 762 107 634 357 553 686 270 737 924
996 6

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output
    N = int(input())
    array = list(map(int, input().split()[:N]))
    last = array.pop()
    array.insert(0,last)   
    print(array) 
    return 0

if __name__ == '__main__':
    main()

5
1 2 3 4 5 6
[5, 1, 2, 3, 4]

In [ ]:
languages=['C' , 'C++' ,'R', 'Python' , 'Java', 'Scala']
# del languages[-2]
languages.pop(4)
print(languages)

['C', 'C++', 'R', 'Python', 'Scala']

In [ ]:
word = "Scaler Data Science Course"
word_list = list(word)
print(word_list)
print(word_list[1:3])

['S', 'c', 'a', 'l', 'e', 'r', ' ', 'D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e', ' ', 'C', 'o', 'u', 'r', 's', 'e']
['c', 'a']

In [4]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output
    T = int(input())
    while T > 0:
      N = int(input())
      array = list(map(int,input().split()[:N]))
      B = int(input())
      for i in range(N):
        if array[i] == B:
            print("1")
            break
      else:
        print("0")
      T -= 1

if __name__ == '__main__':
    main()

2
5
1 2 3 4 5
1
1
3
1 2 3 4
6
0
0
0

In [ ]:
    def solve(A):
        maxx = max(A)
        second_large = 0
        if len(A) == 1:
          return -1
        for i in range(len(A)):
           if A[i] < maxx and A[i] > second_large:
                second_large = A[i]
        if second_large != 0:
          return second_large

In [ ]:
A = [ 81705, 56002, 87239, 11815, 31420, 38036, 62002, 69224, 67185, 75478, 42577, 79358 ]
B = [2]
solve(A)

81705